<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.position.dao.PoCarPositionDao">

    <resultMap type="com.yrsoft.position.entity.PoCarPosition" id="PoCarPositionResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="lng"  column="lng" javaType="String"/>
    <result property="lat"  column="lat" javaType="String"/>
    <result property="updateTime"  column="update_time" javaType="String"/>
    </resultMap>
	
	<sql id="selectPoCarPositionVo">
        select id, lng, lat, update_time from po_car_position
    </sql>
	

    <select id="selectPoCarPositionById" parameterType="String" resultMap="PoCarPositionResult">
        <include refid="selectPoCarPositionVo"/>
        where id = #{id}
    </select>

    <select id="selectPoCarPositionList" parameterType="PoCarPosition" resultMap="PoCarPositionResult">
        <include refid="selectPoCarPositionVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="lng != null  and lng != '' "> and lng = #{lng}</if>
                            <if test="lat != null  and lat != '' "> and lat = #{lat}</if>
                            <if test="updateTime != null  and updateTime != '' "> and update_time = #{updateTime}</if>
                    </where>
    </select>
        
    <insert id="insertPoCarPosition" parameterType="PoCarPosition">
        insert into po_car_position
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="lng != null  and lng != ''  ">lng,</if>
			<if test="lat != null  and lat != ''  ">lat,</if>
			<if test="updateTime != null  and updateTime != ''  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="lng != null  and lng != ''  ">#{lng},</if>
			<if test="lat != null  and lat != ''  ">#{lat},</if>
			<if test="updateTime != null  and updateTime != ''  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updatePoCarPosition" parameterType="PoCarPosition">
        update po_car_position
       <set>
            <if test="lng != null  and lng != ''  ">lng = #{lng},</if>
            <if test="lat != null  and lat != ''  ">lat = #{lat},</if>
            <if test="updateTime != null  and updateTime != ''  ">update_time = #{updateTime},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updatePoCarPositionByIds"  parameterType="java.util.Map">
        UPDATE po_car_position
        <set>
           <if test="lng != null  and lng != ''  ">lng = #{lng},</if>
           <if test="lat != null  and lat != ''  ">lat = #{lat},</if>
           <if test="updateTime != null  and updateTime != ''  ">update_time = #{updateTime},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deletePoCarPositionByIds" parameterType="String">
        delete from po_car_position where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>