<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.finance.dao.MConsumeDao">

    <resultMap type="com.yrsoft.finance.entity.MConsume" id="MConsumeResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="memberId"  column="member_id" javaType="String"/>
    <result property="payId"  column="pay_id" javaType="String"/>
    <result property="consumeAmount"  column="consume_amount" javaType="Long"/>
    <result property="consumeWay"  column="consume_way" javaType="Integer"/>
    <result property="payType"  column="pay_type" javaType="Integer"/>
    <result property="consumeTime"  column="consume_time" javaType="Long"/>
    </resultMap>
	
	<sql id="selectMConsumeVo">
        select id, member_id, pay_id, consume_amount, consume_way, pay_type, consume_time from m_consume
    </sql>
	

    <select id="selectMConsumeById" parameterType="String" resultMap="MConsumeResult">
        <include refid="selectMConsumeVo"/>
        where id = #{id}
    </select>

    <select id="selectMConsumeList" parameterType="MConsume" resultMap="MConsumeResult">
        <include refid="selectMConsumeVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="memberId != null  and memberId != '' "> and member_id = #{memberId}</if>
                            <if test="payId != null  and payId != '' "> and pay_id = #{payId}</if>
                            <if test="consumeAmount != null "> and consume_amount = #{consumeAmount}</if>
                            <if test="consumeWay != null "> and consume_way = #{consumeWay}</if>
                            <if test="payType != null "> and pay_type = #{payType}</if>
                            <if test="consumeTime != null "> and consume_time = #{consumeTime}</if>
                    </where>
    </select>
        
    <insert id="insertMConsume" parameterType="MConsume">
        insert into m_consume
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="memberId != null  and memberId != ''  ">member_id,</if>
			<if test="payId != null  and payId != ''  ">pay_id,</if>
			<if test="consumeAmount != null  ">consume_amount,</if>
			<if test="consumeWay != null  ">consume_way,</if>
			<if test="payType != null  ">pay_type,</if>
			<if test="consumeTime != null  ">consume_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="memberId != null  and memberId != ''  ">#{memberId},</if>
			<if test="payId != null  and payId != ''  ">#{payId},</if>
			<if test="consumeAmount != null  ">#{consumeAmount},</if>
			<if test="consumeWay != null  ">#{consumeWay},</if>
			<if test="payType != null  ">#{payType},</if>
			<if test="consumeTime != null  ">#{consumeTime},</if>
         </trim>
    </insert>
	 
    <update id="updateMConsume" parameterType="MConsume">
        update m_consume
       <set>
            <if test="memberId != null  and memberId != ''  ">member_id = #{memberId},</if>
            <if test="payId != null  and payId != ''  ">pay_id = #{payId},</if>
            <if test="consumeAmount != null  ">consume_amount = #{consumeAmount},</if>
            <if test="consumeWay != null  ">consume_way = #{consumeWay},</if>
            <if test="payType != null  ">pay_type = #{payType},</if>
            <if test="consumeTime != null  ">consume_time = #{consumeTime},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updateMConsumeByIds"  parameterType="java.util.Map">
        UPDATE m_consume
        <set>
           <if test="memberId != null  and memberId != ''  ">member_id = #{memberId},</if>
           <if test="payId != null  and payId != ''  ">pay_id = #{payId},</if>
           <if test="consumeAmount != null  ">consume_amount = #{consumeAmount},</if>
           <if test="consumeWay != null  ">consume_way = #{consumeWay},</if>
           <if test="payType != null  ">pay_type = #{payType},</if>
           <if test="consumeTime != null  ">consume_time = #{consumeTime},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deleteMConsumeByIds" parameterType="String">
        delete from m_consume where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>