<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.auth.dao.CarDao">

    <resultMap type="com.yrsoft.auth.entity.Car" id="CarResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="memberId"  column="member_id" javaType="String"/>
    <result property="driver1Id"  column="driver1_id" javaType="String"/>
    <result property="driver2Id"  column="driver2_id" javaType="String"/>
    <result property="ownerName"  column="owner_name" javaType="String"/>
    <result property="carNumber"  column="car_number" javaType="String"/>
    <result property="runCertificateImg"  column="run_certificate_img" javaType="String"/>
    <result property="runCertificateImg2"  column="run_certificate_img2" javaType="String"/>
    <result property="transportCertificateImg"  column="transport_certificate_img" javaType="String"/>
    <result property="carTypeName"  column="car_type_name" javaType="String"/>
    <result property="fuelType"  column="fuel_type" javaType="Integer"/>
    <result property="setupWeight"  column="setup_weight" javaType="String"/>
    <result property="towWeight"  column="tow_weight" javaType="String"/>
    <result property="totalTractionWeight"  column="total_traction_weight" javaType="String"/>
    <result property="length"  column="length" javaType="String"/>
    <result property="width"  column="width" javaType="String"/>
    <result property="height"  column="height" javaType="String"/>
    <result property="carModel"  column="car_model" javaType="String"/>
    <result property="engineNum"  column="engine_num" javaType="String"/>
    <result property="certificateTime"  column="certificate_time" javaType="String"/>
    <result property="scrapTime"  column="scrap_time" javaType="String"/>
    <result property="businessLicense"  column="business_license" javaType="String"/>
    <result property="transportLicense"  column="transport_license" javaType="String"/>
    <result property="carVin"  column="car_vin" javaType="String"/>
    <result property="status"  column="status" javaType="Integer"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="newFlag"  column="new_flag" javaType="Integer"/>
    <result property="checkTime"  column="check_time" javaType="Integer"/>
    <result property="checkUser"  column="check_user" javaType="String"/>
    <result property="description"  column="description" javaType="String"/>
    <result property="isSys"  column="is_sys" javaType="Integer"/>
    <result property="runStatus"  column="run_status" javaType="Integer"/>
    <result property="openStop"  column="open_stop" javaType="Integer"/>
    <result property="isLsjData"  column="is_lsj_data" javaType="Integer"/>
    <result property="recordState"  column="record_state" javaType="Integer"/>
    <result property="registerTime"  column="register_time" javaType="String"/>
    <result property="carType"  column="car_type" javaType="Integer"/>
    <result property="etcState"  column="etc_state" javaType="Integer"/>
    <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
    </resultMap>
    
	<sql id="selectCarVo">
        select id, member_id, driver1_id, driver2_id, owner_name, car_number, run_certificate_img, run_certificate_img2, transport_certificate_img, car_type_name, fuel_type, setup_weight, tow_weight, total_traction_weight, length, width, height, car_model, engine_num, certificate_time, scrap_time, business_license, transport_license, car_vin, status, create_time, new_flag, check_time, check_user, description, is_sys, run_status, open_stop, is_lsj_data, record_state, register_time, car_type, etc_state, delete_flag from a_car
    </sql>
	

    <select id="selectCarById" parameterType="String" resultMap="CarResult">
        <include refid="selectCarVo"/>
        where id = #{id}
    </select>

    <select id="selectCarList" parameterType="Car" resultMap="CarResult">
        <include refid="selectCarVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="memberId != null  and memberId != '' "> and member_id = #{memberId}</if>
                            <if test="driver1Id != null  and driver1Id != '' "> and driver1_id = #{driver1Id}</if>
                            <if test="driver2Id != null  and driver2Id != '' "> and driver2_id = #{driver2Id}</if>
                            <if test="ownerName != null  and ownerName != '' "> and owner_name = #{ownerName}</if>
                            <if test="carNumber != null  and carNumber != '' "> and car_number = #{carNumber}</if>
                            <if test="runCertificateImg != null  and runCertificateImg != '' "> and run_certificate_img = #{runCertificateImg}</if>
                            <if test="runCertificateImg2 != null  and runCertificateImg2 != '' "> and run_certificate_img2 = #{runCertificateImg2}</if>
                            <if test="transportCertificateImg != null  and transportCertificateImg != '' "> and transport_certificate_img = #{transportCertificateImg}</if>
                            <if test="carTypeName != null  and carTypeName != '' "> and car_type_name = #{carTypeName}</if>
                            <if test="fuelType != null "> and fuel_type = #{fuelType}</if>
                            <if test="setupWeight != null  and setupWeight != '' "> and setup_weight = #{setupWeight}</if>
                            <if test="towWeight != null  and towWeight != '' "> and tow_weight = #{towWeight}</if>
                            <if test="totalTractionWeight != null  and totalTractionWeight != '' "> and total_traction_weight = #{totalTractionWeight}</if>
                            <if test="length != null  and length != '' "> and length = #{length}</if>
                            <if test="width != null  and width != '' "> and width = #{width}</if>
                            <if test="height != null  and height != '' "> and height = #{height}</if>
                            <if test="carModel != null  and carModel != '' "> and car_model = #{carModel}</if>
                            <if test="engineNum != null  and engineNum != '' "> and engine_num = #{engineNum}</if>
                            <if test="certificateTime != null  and certificateTime != '' "> and certificate_time = #{certificateTime}</if>
                            <if test="scrapTime != null  and scrapTime != '' "> and scrap_time = #{scrapTime}</if>
                            <if test="businessLicense != null  and businessLicense != '' "> and business_license = #{businessLicense}</if>
                            <if test="transportLicense != null  and transportLicense != '' "> and transport_license = #{transportLicense}</if>
                            <if test="carVin != null  and carVin != '' "> and car_vin = #{carVin}</if>
                            <if test="status != null "> and status = #{status}</if>
                            <if test="createTime != null "> and create_time = #{createTime}</if>
                            <if test="newFlag != null "> and new_flag = #{newFlag}</if>
                            <if test="checkTime != null "> and check_time = #{checkTime}</if>
                            <if test="checkUser != null  and checkUser != '' "> and check_user = #{checkUser}</if>
                            <if test="description != null  and description != '' "> and description = #{description}</if>
                            <if test="isSys != null "> and is_sys = #{isSys}</if>
                            <if test="runStatus != null "> and run_status = #{runStatus}</if>
                            <if test="openStop != null "> and open_stop = #{openStop}</if>
                            <if test="isLsjData != null "> and is_lsj_data = #{isLsjData}</if>
                            <if test="recordState != null "> and record_state = #{recordState}</if>
                            <if test="registerTime != null  and registerTime != '' "> and register_time = #{registerTime}</if>
                            <if test="carType != null "> and car_type = #{carType}</if>
                            <if test="etcState != null "> and etc_state = #{etcState}</if>
                            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
                    </where>
    </select>
        
    <insert id="insertCar" parameterType="Car">
        insert into a_car
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="memberId != null  and memberId != ''  ">member_id,</if>
			<if test="driver1Id != null  and driver1Id != ''  ">driver1_id,</if>
			<if test="driver2Id != null  and driver2Id != ''  ">driver2_id,</if>
			<if test="ownerName != null  and ownerName != ''  ">owner_name,</if>
			<if test="carNumber != null  and carNumber != ''  ">car_number,</if>
			<if test="runCertificateImg != null  and runCertificateImg != ''  ">run_certificate_img,</if>
			<if test="runCertificateImg2 != null  and runCertificateImg2 != ''  ">run_certificate_img2,</if>
			<if test="transportCertificateImg != null  and transportCertificateImg != ''  ">transport_certificate_img,</if>
			<if test="carTypeName != null  and carTypeName != ''  ">car_type_name,</if>
			<if test="fuelType != null  ">fuel_type,</if>
			<if test="setupWeight != null  and setupWeight != ''  ">setup_weight,</if>
			<if test="towWeight != null  and towWeight != ''  ">tow_weight,</if>
			<if test="totalTractionWeight != null  and totalTractionWeight != ''  ">total_traction_weight,</if>
			<if test="length != null  and length != ''  ">length,</if>
			<if test="width != null  and width != ''  ">width,</if>
			<if test="height != null  and height != ''  ">height,</if>
			<if test="carModel != null  and carModel != ''  ">car_model,</if>
			<if test="engineNum != null  and engineNum != ''  ">engine_num,</if>
			<if test="certificateTime != null  and certificateTime != ''  ">certificate_time,</if>
			<if test="scrapTime != null  and scrapTime != ''  ">scrap_time,</if>
			<if test="businessLicense != null  and businessLicense != ''  ">business_license,</if>
			<if test="transportLicense != null  and transportLicense != ''  ">transport_license,</if>
			<if test="carVin != null  and carVin != ''  ">car_vin,</if>
			<if test="status != null  ">status,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="newFlag != null  ">new_flag,</if>
			<if test="checkTime != null  ">check_time,</if>
			<if test="checkUser != null  and checkUser != ''  ">check_user,</if>
			<if test="description != null  and description != ''  ">description,</if>
			<if test="isSys != null  ">is_sys,</if>
			<if test="runStatus != null  ">run_status,</if>
			<if test="openStop != null  ">open_stop,</if>
			<if test="isLsjData != null  ">is_lsj_data,</if>
			<if test="recordState != null  ">record_state,</if>
			<if test="registerTime != null  and registerTime != ''  ">register_time,</if>
			<if test="carType != null  ">car_type,</if>
			<if test="etcState != null  ">etc_state,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="memberId != null  and memberId != ''  ">#{memberId},</if>
			<if test="driver1Id != null  and driver1Id != ''  ">#{driver1Id},</if>
			<if test="driver2Id != null  and driver2Id != ''  ">#{driver2Id},</if>
			<if test="ownerName != null  and ownerName != ''  ">#{ownerName},</if>
			<if test="carNumber != null  and carNumber != ''  ">#{carNumber},</if>
			<if test="runCertificateImg != null  and runCertificateImg != ''  ">#{runCertificateImg},</if>
			<if test="runCertificateImg2 != null  and runCertificateImg2 != ''  ">#{runCertificateImg2},</if>
			<if test="transportCertificateImg != null  and transportCertificateImg != ''  ">#{transportCertificateImg},</if>
			<if test="carTypeName != null  and carTypeName != ''  ">#{carTypeName},</if>
			<if test="fuelType != null  ">#{fuelType},</if>
			<if test="setupWeight != null  and setupWeight != ''  ">#{setupWeight},</if>
			<if test="towWeight != null  and towWeight != ''  ">#{towWeight},</if>
			<if test="totalTractionWeight != null  and totalTractionWeight != ''  ">#{totalTractionWeight},</if>
			<if test="length != null  and length != ''  ">#{length},</if>
			<if test="width != null  and width != ''  ">#{width},</if>
			<if test="height != null  and height != ''  ">#{height},</if>
			<if test="carModel != null  and carModel != ''  ">#{carModel},</if>
			<if test="engineNum != null  and engineNum != ''  ">#{engineNum},</if>
			<if test="certificateTime != null  and certificateTime != ''  ">#{certificateTime},</if>
			<if test="scrapTime != null  and scrapTime != ''  ">#{scrapTime},</if>
			<if test="businessLicense != null  and businessLicense != ''  ">#{businessLicense},</if>
			<if test="transportLicense != null  and transportLicense != ''  ">#{transportLicense},</if>
			<if test="carVin != null  and carVin != ''  ">#{carVin},</if>
			<if test="status != null  ">#{status},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="newFlag != null  ">#{newFlag},</if>
			<if test="checkTime != null  ">#{checkTime},</if>
			<if test="checkUser != null  and checkUser != ''  ">#{checkUser},</if>
			<if test="description != null  and description != ''  ">#{description},</if>
			<if test="isSys != null  ">#{isSys},</if>
			<if test="runStatus != null  ">#{runStatus},</if>
			<if test="openStop != null  ">#{openStop},</if>
			<if test="isLsjData != null  ">#{isLsjData},</if>
			<if test="recordState != null  ">#{recordState},</if>
			<if test="registerTime != null  and registerTime != ''  ">#{registerTime},</if>
			<if test="carType != null  ">#{carType},</if>
			<if test="etcState != null  ">#{etcState},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
         </trim>
    </insert>
	 
    <update id="updateCar" parameterType="Car">
        update a_car
       <set>
            <if test="memberId != null  and memberId != ''  ">member_id = #{memberId},</if>
            <if test="driver1Id != null  and driver1Id != ''  ">driver1_id = #{driver1Id},</if>
            <if test="driver2Id != null  and driver2Id != ''  ">driver2_id = #{driver2Id},</if>
            <if test="ownerName != null  and ownerName != ''  ">owner_name = #{ownerName},</if>
            <if test="carNumber != null  and carNumber != ''  ">car_number = #{carNumber},</if>
            <if test="runCertificateImg != null  and runCertificateImg != ''  ">run_certificate_img = #{runCertificateImg},</if>
            <if test="runCertificateImg2 != null  and runCertificateImg2 != ''  ">run_certificate_img2 = #{runCertificateImg2},</if>
            <if test="transportCertificateImg != null  and transportCertificateImg != ''  ">transport_certificate_img = #{transportCertificateImg},</if>
            <if test="carTypeName != null  and carTypeName != ''  ">car_type_name = #{carTypeName},</if>
            <if test="fuelType != null  ">fuel_type = #{fuelType},</if>
            <if test="setupWeight != null  and setupWeight != ''  ">setup_weight = #{setupWeight},</if>
            <if test="towWeight != null  and towWeight != ''  ">tow_weight = #{towWeight},</if>
            <if test="totalTractionWeight != null  and totalTractionWeight != ''  ">total_traction_weight = #{totalTractionWeight},</if>
            <if test="length != null  and length != ''  ">length = #{length},</if>
            <if test="width != null  and width != ''  ">width = #{width},</if>
            <if test="height != null  and height != ''  ">height = #{height},</if>
            <if test="carModel != null  and carModel != ''  ">car_model = #{carModel},</if>
            <if test="engineNum != null  and engineNum != ''  ">engine_num = #{engineNum},</if>
            <if test="certificateTime != null  and certificateTime != ''  ">certificate_time = #{certificateTime},</if>
            <if test="scrapTime != null  and scrapTime != ''  ">scrap_time = #{scrapTime},</if>
            <if test="businessLicense != null  and businessLicense != ''  ">business_license = #{businessLicense},</if>
            <if test="transportLicense != null  and transportLicense != ''  ">transport_license = #{transportLicense},</if>
            <if test="carVin != null  and carVin != ''  ">car_vin = #{carVin},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="newFlag != null  ">new_flag = #{newFlag},</if>
            <if test="checkTime != null  ">check_time = #{checkTime},</if>
            <if test="checkUser != null  and checkUser != ''  ">check_user = #{checkUser},</if>
            <if test="description != null  and description != ''  ">description = #{description},</if>
            <if test="isSys != null  ">is_sys = #{isSys},</if>
            <if test="runStatus != null  ">run_status = #{runStatus},</if>
            <if test="openStop != null  ">open_stop = #{openStop},</if>
            <if test="isLsjData != null  ">is_lsj_data = #{isLsjData},</if>
            <if test="recordState != null  ">record_state = #{recordState},</if>
            <if test="registerTime != null  and registerTime != ''  ">register_time = #{registerTime},</if>
            <if test="carType != null  ">car_type = #{carType},</if>
            <if test="etcState != null  ">etc_state = #{etcState},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updateCarByIds"  parameterType="java.util.Map">
        UPDATE a_car
        <set>
           <if test="memberId != null  and memberId != ''  ">member_id = #{memberId},</if>
           <if test="driver1Id != null  and driver1Id != ''  ">driver1_id = #{driver1Id},</if>
           <if test="driver2Id != null  and driver2Id != ''  ">driver2_id = #{driver2Id},</if>
           <if test="ownerName != null  and ownerName != ''  ">owner_name = #{ownerName},</if>
           <if test="carNumber != null  and carNumber != ''  ">car_number = #{carNumber},</if>
           <if test="runCertificateImg != null  and runCertificateImg != ''  ">run_certificate_img = #{runCertificateImg},</if>
           <if test="runCertificateImg2 != null  and runCertificateImg2 != ''  ">run_certificate_img2 = #{runCertificateImg2},</if>
           <if test="transportCertificateImg != null  and transportCertificateImg != ''  ">transport_certificate_img = #{transportCertificateImg},</if>
           <if test="carTypeName != null  and carTypeName != ''  ">car_type_name = #{carTypeName},</if>
           <if test="fuelType != null  ">fuel_type = #{fuelType},</if>
           <if test="setupWeight != null  and setupWeight != ''  ">setup_weight = #{setupWeight},</if>
           <if test="towWeight != null  and towWeight != ''  ">tow_weight = #{towWeight},</if>
           <if test="totalTractionWeight != null  and totalTractionWeight != ''  ">total_traction_weight = #{totalTractionWeight},</if>
           <if test="length != null  and length != ''  ">length = #{length},</if>
           <if test="width != null  and width != ''  ">width = #{width},</if>
           <if test="height != null  and height != ''  ">height = #{height},</if>
           <if test="carModel != null  and carModel != ''  ">car_model = #{carModel},</if>
           <if test="engineNum != null  and engineNum != ''  ">engine_num = #{engineNum},</if>
           <if test="certificateTime != null  and certificateTime != ''  ">certificate_time = #{certificateTime},</if>
           <if test="scrapTime != null  and scrapTime != ''  ">scrap_time = #{scrapTime},</if>
           <if test="businessLicense != null  and businessLicense != ''  ">business_license = #{businessLicense},</if>
           <if test="transportLicense != null  and transportLicense != ''  ">transport_license = #{transportLicense},</if>
           <if test="carVin != null  and carVin != ''  ">car_vin = #{carVin},</if>
           <if test="status != null  ">status = #{status},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="newFlag != null  ">new_flag = #{newFlag},</if>
           <if test="checkTime != null  ">check_time = #{checkTime},</if>
           <if test="checkUser != null  and checkUser != ''  ">check_user = #{checkUser},</if>
           <if test="description != null  and description != ''  ">description = #{description},</if>
           <if test="isSys != null  ">is_sys = #{isSys},</if>
           <if test="runStatus != null  ">run_status = #{runStatus},</if>
           <if test="openStop != null  ">open_stop = #{openStop},</if>
           <if test="isLsjData != null  ">is_lsj_data = #{isLsjData},</if>
           <if test="recordState != null  ">record_state = #{recordState},</if>
           <if test="registerTime != null  and registerTime != ''  ">register_time = #{registerTime},</if>
           <if test="carType != null  ">car_type = #{carType},</if>
           <if test="etcState != null  ">etc_state = #{etcState},</if>
           <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deleteCarByIds" parameterType="String">
        delete from a_car where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <!-- 通过车辆id查询车主信息 -->
    <select id="selectCarByIds" parameterType="java.lang.String" resultType="com.yrsoft.auth.entity.CarP">
        select c.id, c.member_id memberId,c.car_number carNumber,m.nickname,m.telephone
        from a_car c
         LEFT JOIN m_member m on c.member_id=m.id
        where c.id = #{id}
    </select>
    
    <!-- lu:通过车主id查询车辆信息 -->
    <select id="selectCarByOwnerId" parameterType="java.util.Map" resultType="com.yrsoft.auth.entity.CarP">
        select c.id, c.member_id memberId,c.car_model carModel,c.open_stop openStop,
        c.car_number carNumber,m.nickname,m.telephone
        from a_car c
         LEFT JOIN m_member m on c.member_id=m.id
        <where>
        c.member_id=#{ownerId}
       <if test="carNumber != null  and carNumber != ''  ">
         and c.car_number LIKE CONCAT("%",#{carNumber},"%")
        </if>
        <if test="ownerName != null  and ownerName != ''  ">
         and   m.nickname LIKE CONCAT("%",#{ownerName},"%")
        </if>
        <if test="telephone != null  and telephone != ''  ">
        and m.telephone LIKE CONCAT("%",#{telephone},"%")
        </if>
        </where>
    </select>
    
        <!-- 通过货主id查询系统车辆信息和坐标位置 -->
    <select id="selectSysCarInfo" parameterType="java.util.Map" resultType="com.yrsoft.auth.entity.Car">
	    SELECT
	    	c.id,
			c.car_number carNumber,
			c.run_status runStatus
		FROM
			a_car c
		LEFT JOIN bo_owner_shipper bos ON bos.shipper_id != c.member_id
		WHERE
			1 = 1
		AND c.open_stop = 0
		AND bos.STATUS = 1
		AND c.delete_flag = 0
		<if test="shipperId != null  and shipperId != ''  ">
		AND bos.shipper_id = #{shipperId}
		</if>
    </select>
    <!--货主关注车辆的信息  -->
    <select id="selectCarsInfo" parameterType="String" resultType="map">
	    SELECT
			c.id id,
			c.driver1_id driver1Id,
			o.owner_id memberId,
			m.real_name realName,
			m.telephone,
			c.car_number AS carNumber,
			c.car_type_name AS  carTypeName,
			c.fuel_type fuelType,
			c.total_traction_weight totalTractionWeight,
			c.car_model carModel,
			c.run_status AS runStatus,
			c.tow_weight towWeight,
			c.car_vin carVin,
			c.car_type carType,
			c.etc_state etcState
		FROM
			bo_owner_shipper o,
			a_car c,
			m_member m
		<where>
			o.owner_id = c.member_id
		AND c.driver1_id = m.id
		AND c.delete_flag = 0
		AND o.`status` = 0
		AND o.shipper_id = #{shipperId}
		<if test="carNumber != null  and carNumber != ''  ">
        and c.car_number LIKE CONCAT("%",#{carNumber},"%")
        </if>
		</where>
    </select>
</mapper>