<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.auth.dao.PersonDao">

    <resultMap type="com.yrsoft.auth.entity.Person" id="PersonResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="memberId"  column="member_id" javaType="String"/>
    <result property="name"  column="name" javaType="String"/>
    <result property="idCardCode"  column="id_card_code" javaType="String"/>
    <result property="idCardImg"  column="id_card_img" javaType="String"/>
    <result property="idCardBackImg"  column="id_card_back_img" javaType="String"/>
    <result property="status"  column="status" javaType="Integer"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="newFlag"  column="new_flag" javaType="Integer"/>
    <result property="checkTime"  column="check_time" javaType="Integer"/>
    <result property="checkUserId"  column="check_user_id" javaType="String"/>
    <result property="description"  column="description" javaType="String"/>
    <result property="isSys"  column="is_sys" javaType="Integer"/>
    <result property="isLsjData"  column="is_lsj_data" javaType="Integer"/>
    </resultMap>
	
	<sql id="selectPersonVo">
        select id, member_id, name, id_card_code, id_card_img, id_card_back_img, status, create_time, new_flag, check_time, check_user_id, description, is_sys, is_lsj_data from a_person
    </sql>
	

    <select id="selectPersonById" parameterType="String" resultMap="PersonResult">
        <include refid="selectPersonVo"/>
        where id = #{id}
    </select>
    
    <!-- 根据用户ID查询用户个人认证信息 -->
    <select id="selectPersonByMemberId" parameterType="java.lang.String" resultMap="PersonResult">
        <include refid="selectPersonVo"/>
        where member_id = #{_parameter}
        and status = 1 
    </select>

    <select id="selectPersonList" parameterType="Person" resultMap="PersonResult">
        <include refid="selectPersonVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="memberId != null  and memberId != '' "> and member_id = #{memberId}</if>
                            <if test="name != null  and name != '' "> and name = #{name}</if>
                            <if test="idCardCode != null  and idCardCode != '' "> and id_card_code = #{idCardCode}</if>
                            <if test="idCardImg != null  and idCardImg != '' "> and id_card_img = #{idCardImg}</if>
                            <if test="idCardBackImg != null  and idCardBackImg != '' "> and id_card_back_img = #{idCardBackImg}</if>
                            <if test="status != null "> and status = #{status}</if>
                            <if test="createTime != null "> and create_time = #{createTime}</if>
                            <if test="newFlag != null "> and new_flag = #{newFlag}</if>
                            <if test="checkTime != null "> and check_time = #{checkTime}</if>
                            <if test="checkUserId != null  and checkUserId != '' "> and check_user_id = #{checkUserId}</if>
                            <if test="description != null  and description != '' "> and description = #{description}</if>
                            <if test="isSys != null "> and is_sys = #{isSys}</if>
                            <if test="isLsjData != null "> and is_lsj_data = #{isLsjData}</if>
                    </where>
    </select>
        
    <insert id="insertPerson" parameterType="Person">
        insert into a_person
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="memberId != null  and memberId != ''  ">member_id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="idCardCode != null  and idCardCode != ''  ">id_card_code,</if>
			<if test="idCardImg != null  and idCardImg != ''  ">id_card_img,</if>
			<if test="idCardBackImg != null  and idCardBackImg != ''  ">id_card_back_img,</if>
			<if test="status != null  ">status,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="newFlag != null  ">new_flag,</if>
			<if test="checkTime != null  ">check_time,</if>
			<if test="checkUserId != null  and checkUserId != ''  ">check_user_id,</if>
			<if test="description != null  and description != ''  ">description,</if>
			<if test="isSys != null  ">is_sys,</if>
			<if test="isLsjData != null  ">is_lsj_data,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="memberId != null  and memberId != ''  ">#{memberId},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="idCardCode != null  and idCardCode != ''  ">#{idCardCode},</if>
			<if test="idCardImg != null  and idCardImg != ''  ">#{idCardImg},</if>
			<if test="idCardBackImg != null  and idCardBackImg != ''  ">#{idCardBackImg},</if>
			<if test="status != null  ">#{status},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="newFlag != null  ">#{newFlag},</if>
			<if test="checkTime != null  ">#{checkTime},</if>
			<if test="checkUserId != null  and checkUserId != ''  ">#{checkUserId},</if>
			<if test="description != null  and description != ''  ">#{description},</if>
			<if test="isSys != null  ">#{isSys},</if>
			<if test="isLsjData != null  ">#{isLsjData},</if>
         </trim>
    </insert>
	 
    <update id="updatePerson" parameterType="Person">
        update a_person
       <set>
            <if test="memberId != null  and memberId != ''  ">member_id = #{memberId},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="idCardCode != null  and idCardCode != ''  ">id_card_code = #{idCardCode},</if>
            <if test="idCardImg != null  and idCardImg != ''  ">id_card_img = #{idCardImg},</if>
            <if test="idCardBackImg != null  and idCardBackImg != ''  ">id_card_back_img = #{idCardBackImg},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="newFlag != null  ">new_flag = #{newFlag},</if>
            <if test="checkTime != null  ">check_time = #{checkTime},</if>
            <if test="checkUserId != null  and checkUserId != ''  ">check_user_id = #{checkUserId},</if>
            <if test="description != null  and description != ''  ">description = #{description},</if>
            <if test="isSys != null  ">is_sys = #{isSys},</if>
            <if test="isLsjData != null  ">is_lsj_data = #{isLsjData},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updatePersonByIds"  parameterType="java.util.Map">
        UPDATE a_person
        <set>
           <if test="memberId != null  and memberId != ''  ">member_id = #{memberId},</if>
           <if test="name != null  and name != ''  ">name = #{name},</if>
           <if test="idCardCode != null  and idCardCode != ''  ">id_card_code = #{idCardCode},</if>
           <if test="idCardImg != null  and idCardImg != ''  ">id_card_img = #{idCardImg},</if>
           <if test="idCardBackImg != null  and idCardBackImg != ''  ">id_card_back_img = #{idCardBackImg},</if>
           <if test="status != null  ">status = #{status},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="newFlag != null  ">new_flag = #{newFlag},</if>
           <if test="checkTime != null  ">check_time = #{checkTime},</if>
           <if test="checkUserId != null  and checkUserId != ''  ">check_user_id = #{checkUserId},</if>
           <if test="description != null  and description != ''  ">description = #{description},</if>
           <if test="isSys != null  ">is_sys = #{isSys},</if>
           <if test="isLsjData != null  ">is_lsj_data = #{isLsjData},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deletePersonByIds" parameterType="String">
        delete from a_person where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>