package ${basePackage}.web.controller.${moduleName};

import java.util.List;

import com.yrsoft.utils.JsonResult;
import com.yrsoft.utils.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.web.bind.annotation.RequestMethod;
import org.apache.servicecomb.provider.rest.common.RestSchema;
import javax.ws.rs.core.MediaType;
import ${package}.entity.${className};
import ${package}.service.${className}Service;


/**
 * ${tableComment} 信息操作处理
 * 
 * @author ${author}
 * @date ${datetime}
 */
@RestSchema(schemaId = "${classname}")
@RequestMapping(path = "/${moduleName}/${classname}",produces = MediaType.APPLICATION_JSON)
public class ${className}Controller
{

	@Autowired
	private ${className}Service ${classname}Service;

    /**
     * 查询${tableComment}一个
     */
	@RequestMapping(value = "/get${className}ById",method = RequestMethod.POST)
	public JsonResult get${className}ById(${primaryKey.attrType} ${primaryKey.attrname}){
	    if (StringUtils.isBlank(${primaryKey.attrname})){
	        return JsonResult.error(201,"请传入主键编号");
		}


		return ${classname}Service.get${className}ById(${primaryKey.attrname});
	}


    /**
     * 查询${tableComment}列表
     */
	@RequestMapping(value = "/list",method = RequestMethod.POST)
	public JsonResult list(Integer page,Integer limit,${className} ${classname}){
        page =  page != null ? page:0;
        limit =  limit != null ?limit:10;
	    try {
            return ${classname}Service.list(page,limit,${classname});
        } catch (Exception e) {
            return JsonResult.error(207,"服务器错误");
        }
    }

    /**
     * 新增保存${tableComment}
     */

    @RequestMapping(value = "/add",method = RequestMethod.POST)
    public JsonResult add(${className} ${classname})
    {
        try {
            return ${classname}Service.add(${classname});
        } catch (Exception e) {
            return JsonResult.error(207,"服务器错误");
        }
    }

    /**
     * 修改保存${tableComment}
     */

    @RequestMapping(value = "/edit",method = RequestMethod.POST)
    public JsonResult edit(${className} ${classname})
    {
        try {
            return ${classname}Service.edit(${classname});
        } catch (Exception e) {
            return JsonResult.error(207,"服务器错误");
        }

    }

    /**
     * 删除${tableComment}
     */
    @RequestMapping(value = "/remove",method = RequestMethod.POST)
    public JsonResult remove(String ids)
    {
        if (StringUtils.isBlank(ids)) {
            return JsonResult.error(201,"请传入要删除的编号");
        }
        try {
            return ${classname}Service.remove(ids);
        } catch (Exception e) {
            return JsonResult.error(207,"服务器错误");
        }
    }
}
