package ${package}.service;

import ${package}.entity.${className};
import com.yrsoft.utils.JsonResult;
import java.util.List;
import java.util.Map;

/**
 * ${tableComment} 服务层
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service
{
	/**
     * 查询${tableComment}信息
     * 
     * @param ${primaryKey.attrname} ${tableComment}ID
     * @return ${tableComment}信息
     */
	public JsonResult get${className}ById(${primaryKey.attrType} ${primaryKey.attrname});
	
	/**
     * 查询${tableComment}列表
     * 
     * @param ${classname} ${tableComment}信息
     * @return ${tableComment}集合
     */
	public JsonResult list(Integer page,Integer limit,${className} ${classname});
	
	/**
     * 新增${tableComment}
     * 
     * @param ${classname} ${tableComment}信息
     * @return 结果
     */
	public JsonResult add(${className} ${classname});
	
	/**
     * 修改${tableComment}
     * 
     * @param ${classname} ${tableComment}信息
     * @return 结果
     */
	public JsonResult edit(${className} ${classname});

    /**
     * 删除${tableComment}信息
     *
     * @param ids 需要删除的数据ID
     * @return 结果
     */
    public JsonResult remove(String ids);
	
}
