<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.system.dao.SDataDao">

    <resultMap type="com.yrsoft.system.entity.SData" id="SDataResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="dataName"  column="data_name" javaType="String"/>
    <result property="dataValue"  column="data_value" javaType="String"/>
    <result property="status"  column="status" javaType="String"/>
    <result property="sort"  column="sort" javaType="String"/>
    <result property="dataType"  column="data_type" javaType="String"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="updateTime"  column="update_time" javaType="Integer"/>
    <result property="parentId"  column="parent_id" javaType="String"/>
    <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
    </resultMap>
	
	<sql id="selectSDataVo">
        select id, data_name, data_value, status, sort, data_type, create_time, update_time, parent_id, delete_flag from s_data
    </sql>
	

    <select id="selectSDataById" parameterType="String" resultMap="SDataResult">
        <include refid="selectSDataVo"/>
        where id = #{id}
    </select>

    <select id="selectSDataList" parameterType="SData" resultMap="SDataResult">
        <include refid="selectSDataVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="dataName != null  and dataName != '' "> and data_name = #{dataName}</if>
                            <if test="dataValue != null  and dataValue != '' "> and data_value = #{dataValue}</if>
                            <if test="status != null  and status != '' "> and status = #{status}</if>
                            <if test="sort != null  and sort != '' "> and sort = #{sort}</if>
                            <if test="dataType != null  and dataType != '' "> and data_type = #{dataType}</if>
                            <if test="createTime != null "> and create_time = #{createTime}</if>
                            <if test="updateTime != null "> and update_time = #{updateTime}</if>
                            <if test="parentId != null  and parentId != '' "> and parent_id = #{parentId}</if>
                            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
                    </where>
    </select>
        
    <insert id="insertSData" parameterType="SData">
        insert into s_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="dataName != null  and dataName != ''  ">data_name,</if>
			<if test="dataValue != null  and dataValue != ''  ">data_value,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="sort != null  and sort != ''  ">sort,</if>
			<if test="dataType != null  and dataType != ''  ">data_type,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="parentId != null  and parentId != ''  ">parent_id,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="dataName != null  and dataName != ''  ">#{dataName},</if>
			<if test="dataValue != null  and dataValue != ''  ">#{dataValue},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="sort != null  and sort != ''  ">#{sort},</if>
			<if test="dataType != null  and dataType != ''  ">#{dataType},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="parentId != null  and parentId != ''  ">#{parentId},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
         </trim>
    </insert>
	 
    <update id="updateSData" parameterType="SData">
        update s_data
       <set>
            <if test="dataName != null  and dataName != ''  ">data_name = #{dataName},</if>
            <if test="dataValue != null  and dataValue != ''  ">data_value = #{dataValue},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="sort != null  and sort != ''  ">sort = #{sort},</if>
            <if test="dataType != null  and dataType != ''  ">data_type = #{dataType},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="parentId != null  and parentId != ''  ">parent_id = #{parentId},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updateSDataByIds"  parameterType="java.util.Map">
        UPDATE s_data
        <set>
           <if test="dataName != null  and dataName != ''  ">data_name = #{dataName},</if>
           <if test="dataValue != null  and dataValue != ''  ">data_value = #{dataValue},</if>
           <if test="status != null  and status != ''  ">status = #{status},</if>
           <if test="sort != null  and sort != ''  ">sort = #{sort},</if>
           <if test="dataType != null  and dataType != ''  ">data_type = #{dataType},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="updateTime != null  ">update_time = #{updateTime},</if>
           <if test="parentId != null  and parentId != ''  ">parent_id = #{parentId},</if>
           <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deleteSDataByIds" parameterType="String">
        delete from s_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDataByType"  parameterType="String" resultType="String">
        select data_value as  dataValue from s_data where data_type=#{data_type} order by sort
    </select>
</mapper>