<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.member.dao.MOwnerDriverDao">

    <resultMap type="com.yrsoft.member.entity.MOwnerDriver" id="MOwnerDriverResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="ownerId"  column="owner_id" javaType="String"/>
    <result property="driverId"  column="driver_id" javaType="String"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
    <result property="agree"  column="agree" javaType="Integer"/>
    </resultMap>
	
	<sql id="selectMOwnerDriverVo">
        select id, owner_id, driver_id, create_time, delete_flag, agree from m_owner_driver
    </sql>
	

    <select id="selectMOwnerDriverById" parameterType="String" resultMap="MOwnerDriverResult">
        <include refid="selectMOwnerDriverVo"/>
        where id = #{id}
    </select>

    <select id="selectMOwnerDriverList" parameterType="MOwnerDriver" resultMap="MOwnerDriverResult">
        <include refid="selectMOwnerDriverVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="ownerId != null  and ownerId != '' "> and owner_id = #{ownerId}</if>
                            <if test="driverId != null  and driverId != '' "> and driver_id = #{driverId}</if>
                            <if test="createTime != null "> and create_time = #{createTime}</if>
                            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
                            <if test="agree != null "> and agree = #{agree}</if>
                    </where>
    </select>
        
    <insert id="insertMOwnerDriver" parameterType="MOwnerDriver">
        insert into m_owner_driver
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="ownerId != null  and ownerId != ''  ">owner_id,</if>
			<if test="driverId != null  and driverId != ''  ">driver_id,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
			<if test="agree != null  ">agree,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="ownerId != null  and ownerId != ''  ">#{ownerId},</if>
			<if test="driverId != null  and driverId != ''  ">#{driverId},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
			<if test="agree != null  ">#{agree},</if>
         </trim>
    </insert>
	 
    <update id="updateMOwnerDriver" parameterType="MOwnerDriver">
        update m_owner_driver
       <set>
            <if test="ownerId != null  and ownerId != ''  ">owner_id = #{ownerId},</if>
            <if test="driverId != null  and driverId != ''  ">driver_id = #{driverId},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
            <if test="agree != null  ">agree = #{agree},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updateMOwnerDriverByIds"  parameterType="java.util.Map">
        UPDATE m_owner_driver
        <set>
           <if test="ownerId != null  and ownerId != ''  ">owner_id = #{ownerId},</if>
           <if test="driverId != null  and driverId != ''  ">driver_id = #{driverId},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
           <if test="agree != null  ">agree = #{agree},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deleteMOwnerDriverByIds" parameterType="String">
        delete from m_owner_driver where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>