<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.website.dao.WNewsDao">

    <resultMap type="com.yrsoft.website.entity.WNews" id="WNewsResult">
        <result property="id"  column="id" javaType="String"/>
        <result property="userType"  column="user_type" javaType="Integer"/>
        <result property="title"  column="title" javaType="String"/>
        <result property="content"  column="content" javaType="String"/>
        <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
        <result property="status"  column="status" javaType="Integer"/>
        <result property="publishTime"  column="publish_time" javaType="Integer"/>
        <result property="createUser"  column="create_user" javaType="String"/>
        <result property="createTime"  column="create_time" javaType="Integer"/>
        <result property="updateUser"  column="update_user" javaType="String"/>
        <result property="updateTime"  column="update_time" javaType="Integer"/>
        <result property="memberId"  column="member_id" javaType="String"/>
        <result property="isRead"  column="is_read" javaType="Integer"/>
        <result property="waybillNumber"  column="waybill_number" javaType="String"/>
        <result property="newsType" column="news_type" javaType="Integer"/>
    </resultMap>

    <sql id="selectWNewsVo">
        select id, user_type,news_type,title, content, delete_flag, status, publish_time, create_user, create_time, update_user, update_time, member_id, is_read, waybill_number from w_news
    </sql>


    <select id="selectWNewsById" parameterType="String" resultMap="WNewsResult">
        <include refid="selectWNewsVo"/>
        where id = #{id}
    </select>

    <select id="selectWNewsList" parameterType="WNews" resultMap="WNewsResult">
        <include refid="selectWNewsVo"/>
        <where>
            <if test="id != null  and id != '' "> and id = #{id}</if>
            <if test="userType != null "> and user_type = #{userType}</if>
            <if test="title != null  and title != '' "> and title = #{title}</if>
            <if test="content != null  and content != '' "> and content = #{content}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="publishTime != null "> and publish_time = #{publishTime}</if>
            <if test="createUser != null  and createUser != '' "> and create_user = #{createUser}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateUser != null  and updateUser != '' "> and update_user = #{updateUser}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="memberId != null  and memberId != '' "> and member_id = #{memberId}</if>
            <if test="isRead != null "> and is_read = #{isRead}</if>
            <if test="waybillNumber != null  and waybillNumber != '' "> and waybill_number = #{waybillNumber}</if>
        </where>
    </select>

    <insert id="insertWNews" parameterType="WNews">
        insert into w_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id,</if>
            <if test="userType != null  ">user_type,</if>
            <if test="title != null  and title != ''  ">title,</if>
            <if test="content != null  and content != ''  ">content,</if>
            <if test="deleteFlag != null  ">delete_flag,</if>
            <if test="status != null  ">status,</if>
            <if test="publishTime != null  ">publish_time,</if>
            <if test="createUser != null  and createUser != ''  ">create_user,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateUser != null  and updateUser != ''  ">update_user,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="memberId != null  and memberId != ''  ">member_id,</if>
            <if test="isRead != null  ">is_read,</if>
            <if test="waybillNumber != null  and waybillNumber != ''  ">waybill_number,</if>

            <if test=" newsType!=null and newsType!='' ">news_type,</if>

            <if test=" newsType!=null and newsType!='' ">news_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="userType != null  ">#{userType},</if>
            <if test="title != null  and title != ''  ">#{title},</if>
            <if test="content != null  and content != ''  ">#{content},</if>
            <if test="deleteFlag != null  ">#{deleteFlag},</if>
            <if test="status != null  ">#{status},</if>
            <if test="publishTime != null  ">#{publishTime},</if>
            <if test="createUser != null  and createUser != ''  ">#{createUser},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''  ">#{updateUser},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="memberId != null  and memberId != ''  ">#{memberId},</if>
            <if test="isRead != null  ">#{isRead},</if>
            <if test="waybillNumber != null  and waybillNumber != ''  ">#{waybillNumber},</if>
            <if test=" newsType!=null and newsType!='' ">#{newsType},</if>
        </trim>
    </insert>

    <update id="updateWNews" parameterType="WNews">
        update w_news
        <set>
            <if test="userType != null  ">user_type = #{userType},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="publishTime != null  ">publish_time = #{publishTime},</if>
            <if test="createUser != null  and createUser != ''  ">create_user = #{createUser},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateUser != null  and updateUser != ''  ">update_user = #{updateUser},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="memberId != null  and memberId != ''  ">member_id = #{memberId},</if>
            <if test="isRead != null  ">is_read = #{isRead},</if>
            <if test="waybillNumber != null  and waybillNumber != ''  ">waybill_number = #{waybillNumber},</if>
        </set>
        where id = #{id}
    </update>


    <update id="updateWNewsByIds"  parameterType="java.util.Map">
        UPDATE w_news
        <set>
            <if test="userType != null  ">user_type = #{userType},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="publishTime != null  ">publish_time = #{publishTime},</if>
            <if test="createUser != null  and createUser != ''  ">create_user = #{createUser},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateUser != null  and updateUser != ''  ">update_user = #{updateUser},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="memberId != null  and memberId != ''  ">member_id = #{memberId},</if>
            <if test="isRead != null  ">is_read = #{isRead},</if>
            <if test="waybillNumber != null  and waybillNumber != ''  ">waybill_number = #{waybillNumber},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>


    <delete id="deleteWNewsByIds" parameterType="String">
        delete from w_news where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="countMessageByCondition" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from w_news
        <where>
            <if test="isRead != null">
                and is_read = #{isRead}
            </if>
            <if test="memberId != null and memberId!='' ">
                and member_id = #{memberId}
            </if>
        </where>
    </select>
    <!-- 按照is_read ASC,create_time DESC 的顺序排序 -->
    <select id="selectNewsListByOrder" parameterType="java.util.Map" resultMap="WNewsResult">
        <include refid="selectWNewsVo"/>
        <where>
            <if test=" memberId != null and  memberId!='' ">
                member_id = #{memberId}
            </if>
            <if test="createTime != null and createTime!='' ">
                and create_time  &lt;=  #{createTime}
            </if>
        </where>
        order by is_read ASC,create_time DESC
    </select>
</mapper>