<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.platform.dao.PCargoNameDao">

    <resultMap type="com.yrsoft.platform.entity.PCargoName" id="PCargoNameResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="cargoTypeId"  column="cargo_type_id" javaType="String"/>
    <result property="name"  column="name" javaType="String"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="updateTime"  column="update_time" javaType="Integer"/>
    <result property="operatorId"  column="operator_id" javaType="String"/>
    <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
    </resultMap>
	
	<sql id="selectPCargoNameVo">
        select id, cargo_type_id, name, create_time, update_time, operator_id, delete_flag from p_cargo_name
    </sql>
	

    <select id="selectPCargoNameById" parameterType="String" resultMap="PCargoNameResult">
        <include refid="selectPCargoNameVo"/>
        where id = #{id}
    </select>

    <select id="selectPCargoNameList" parameterType="PCargoName" resultMap="PCargoNameResult">
        <include refid="selectPCargoNameVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="cargoTypeId != null  and cargoTypeId != '' "> and cargo_type_id = #{cargoTypeId}</if>
                            <if test="name != null  and name != '' "> and name = #{name}</if>
                            <if test="createTime != null "> and create_time = #{createTime}</if>
                            <if test="updateTime != null "> and update_time = #{updateTime}</if>
                            <if test="operatorId != null  and operatorId != '' "> and operator_id = #{operatorId}</if>
                            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
                    </where>
    </select>
        
    <insert id="insertPCargoName" parameterType="PCargoName">
        insert into p_cargo_name
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="cargoTypeId != null  and cargoTypeId != ''  ">cargo_type_id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="operatorId != null  and operatorId != ''  ">operator_id,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="cargoTypeId != null  and cargoTypeId != ''  ">#{cargoTypeId},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="operatorId != null  and operatorId != ''  ">#{operatorId},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
         </trim>
    </insert>
	 
    <update id="updatePCargoName" parameterType="PCargoName">
        update p_cargo_name
       <set>
            <if test="cargoTypeId != null  and cargoTypeId != ''  ">cargo_type_id = #{cargoTypeId},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="operatorId != null  and operatorId != ''  ">operator_id = #{operatorId},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updatePCargoNameByIds"  parameterType="java.util.Map">
        UPDATE p_cargo_name
        <set>
           <if test="cargoTypeId != null  and cargoTypeId != ''  ">cargo_type_id = #{cargoTypeId},</if>
           <if test="name != null  and name != ''  ">name = #{name},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="updateTime != null  ">update_time = #{updateTime},</if>
           <if test="operatorId != null  and operatorId != ''  ">operator_id = #{operatorId},</if>
           <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deletePCargoNameByIds" parameterType="String">
        delete from p_cargo_name where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <!-- 根据货物名称查询货物列表 -->
    <select id="goodsInfoList" parameterType="java.util.Map" resultMap="PCargoNameResult">
       <include refid="selectPCargoNameVo"/>
        <where>         
        <if test="name != null  and name != '' "> and name LIKE CONCAT("%",#{name},"%")</if>
        <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
        </where>
    </select>
    
</mapper>