<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.platform.dao.PCargoTypeDao">

    <resultMap type="com.yrsoft.platform.entity.PCargoType" id="PCargoTypeResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="structureNum"  column="structure_num" javaType="String"/>
    <result property="canonicalName"  column="canonical_name" javaType="String"/>
    <result property="explain"  column="explain" javaType="String"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="updateTime"  column="update_time" javaType="Integer"/>
    <result property="operatorId"  column="operator_id" javaType="String"/>
    <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
    </resultMap>
	
	<sql id="selectPCargoTypeVo">
        select id, structure_num, canonical_name, explain, create_time, update_time, operator_id, delete_flag from p_cargo_type
    </sql>
	

    <select id="selectPCargoTypeById" parameterType="String" resultMap="PCargoTypeResult">
        <include refid="selectPCargoTypeVo"/>
        where id = #{id}
    </select>

    <select id="selectPCargoTypeList" parameterType="PCargoType" resultMap="PCargoTypeResult">
        <include refid="selectPCargoTypeVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="structureNum != null  and structureNum != '' "> and structure_num = #{structureNum}</if>
                            <if test="canonicalName != null  and canonicalName != '' "> and canonical_name = #{canonicalName}</if>
                            <if test="explain != null  and explain != '' "> and explain = #{explain}</if>
                            <if test="createTime != null "> and create_time = #{createTime}</if>
                            <if test="updateTime != null "> and update_time = #{updateTime}</if>
                            <if test="operatorId != null  and operatorId != '' "> and operator_id = #{operatorId}</if>
                            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
                    </where>
    </select>
        
    <insert id="insertPCargoType" parameterType="PCargoType">
        insert into p_cargo_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="structureNum != null  and structureNum != ''  ">structure_num,</if>
			<if test="canonicalName != null  and canonicalName != ''  ">canonical_name,</if>
			<if test="explain != null  and explain != ''  ">explain,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="operatorId != null  and operatorId != ''  ">operator_id,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="structureNum != null  and structureNum != ''  ">#{structureNum},</if>
			<if test="canonicalName != null  and canonicalName != ''  ">#{canonicalName},</if>
			<if test="explain != null  and explain != ''  ">#{explain},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="operatorId != null  and operatorId != ''  ">#{operatorId},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
         </trim>
    </insert>
	 
    <update id="updatePCargoType" parameterType="PCargoType">
        update p_cargo_type
       <set>
            <if test="structureNum != null  and structureNum != ''  ">structure_num = #{structureNum},</if>
            <if test="canonicalName != null  and canonicalName != ''  ">canonical_name = #{canonicalName},</if>
            <if test="explain != null  and explain != ''  ">explain = #{explain},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="operatorId != null  and operatorId != ''  ">operator_id = #{operatorId},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updatePCargoTypeByIds"  parameterType="java.util.Map">
        UPDATE p_cargo_type
        <set>
           <if test="structureNum != null  and structureNum != ''  ">structure_num = #{structureNum},</if>
           <if test="canonicalName != null  and canonicalName != ''  ">canonical_name = #{canonicalName},</if>
           <if test="explain != null  and explain != ''  ">explain = #{explain},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="updateTime != null  ">update_time = #{updateTime},</if>
           <if test="operatorId != null  and operatorId != ''  ">operator_id = #{operatorId},</if>
           <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deletePCargoTypeByIds" parameterType="String">
        delete from p_cargo_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>