<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.platform.dao.PFreighRecordsDao">

    <resultMap type="com.yrsoft.platform.entity.PFreighRecords" id="PFreighRecordsResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="invoiceId"  column="invoice_id" javaType="String"/>
    <result property="payAmount"  column="pay_amount" javaType="Long"/>
    <result property="payTime"  column="pay_time" javaType="Long"/>
    </resultMap>
	
	<sql id="selectPFreighRecordsVo">
        select id, invoice_id, pay_amount, pay_time from p_freigh_records
    </sql>
	

    <select id="selectPFreighRecordsById" parameterType="String" resultMap="PFreighRecordsResult">
        <include refid="selectPFreighRecordsVo"/>
        where id = #{id}
    </select>

    <select id="selectPFreighRecordsList" parameterType="PFreighRecords" resultMap="PFreighRecordsResult">
        <include refid="selectPFreighRecordsVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="invoiceId != null  and invoiceId != '' "> and invoice_id = #{invoiceId}</if>
                            <if test="payAmount != null "> and pay_amount = #{payAmount}</if>
                            <if test="payTime != null "> and pay_time = #{payTime}</if>
                    </where>
    </select>
        
    <insert id="insertPFreighRecords" parameterType="PFreighRecords">
        insert into p_freigh_records
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="invoiceId != null  and invoiceId != ''  ">invoice_id,</if>
			<if test="payAmount != null  ">pay_amount,</if>
			<if test="payTime != null  ">pay_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="invoiceId != null  and invoiceId != ''  ">#{invoiceId},</if>
			<if test="payAmount != null  ">#{payAmount},</if>
			<if test="payTime != null  ">#{payTime},</if>
         </trim>
    </insert>
	 
    <update id="updatePFreighRecords" parameterType="PFreighRecords">
        update p_freigh_records
       <set>
            <if test="invoiceId != null  and invoiceId != ''  ">invoice_id = #{invoiceId},</if>
            <if test="payAmount != null  ">pay_amount = #{payAmount},</if>
            <if test="payTime != null  ">pay_time = #{payTime},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updatePFreighRecordsByIds"  parameterType="java.util.Map">
        UPDATE p_freigh_records
        <set>
           <if test="invoiceId != null  and invoiceId != ''  ">invoice_id = #{invoiceId},</if>
           <if test="payAmount != null  ">pay_amount = #{payAmount},</if>
           <if test="payTime != null  ">pay_time = #{payTime},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deletePFreighRecordsByIds" parameterType="String">
        delete from p_freigh_records where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>