<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.platform.dao.PInvoiceDao">

    <resultMap type="com.yrsoft.platform.entity.PInvoice" id="PInvoiceResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="shipperId"  column="shipper_id" javaType="String"/>
    <result property="cargoNameId"  column="cargo_name_id" javaType="String"/>
    <result property="invoiceNumber"  column="invoice_number" javaType="String"/>
    <result property="status"  column="status" javaType="Integer"/>
    <result property="startProvince"  column="start_province" javaType="String"/>
    <result property="startCity"  column="start_city" javaType="String"/>
    <result property="startArea"  column="start_area" javaType="String"/>
    <result property="startAddress"  column="start_address" javaType="String"/>
    <result property="startLng"  column="start_lng" javaType="String"/>
    <result property="startLat"  column="start_lat" javaType="String"/>
    <result property="arriveProvince"  column="arrive_province" javaType="String"/>
    <result property="arriveCity"  column="arrive_city" javaType="String"/>
    <result property="arriveArea"  column="arrive_area" javaType="String"/>
    <result property="arriveAddress"  column="arrive_address" javaType="String"/>
    <result property="arriveLng"  column="arrive_lng" javaType="String"/>
    <result property="arriveLat"  column="arrive_lat" javaType="String"/>
    <result property="receiveUserName"  column="receive_user_name" javaType="String"/>
    <result property="receiveUserTelephone"  column="receive_user_telephone" javaType="String"/>
    <result property="goodsName"  column="goods_name" javaType="String"/>
    <result property="goodsNumber"  column="goods_number" javaType="String"/>
    <result property="goodsWeight"  column="goods_weight" javaType="String"/>
    <result property="numUnit"  column="num_unit" javaType="String"/>
    <result property="goodsVolume"  column="goods_volume" javaType="String"/>
    <result property="goodsRemark"  column="goods_remark" javaType="String"/>
    <result property="applyCarNo"  column="apply_car_no" javaType="Integer"/>
    <result property="assignCarNo"  column="assign_car_no" javaType="Integer"/>
    <result property="actualAssignNum"  column="actual_assign_num" javaType="Integer"/>
    <result property="actualApplyNum"  column="actual_apply_num" javaType="Integer"/>
    <result property="numberCall"  column="number_call" javaType="Integer"/>
    <result property="callTime"  column="call_time" javaType="Integer"/>
    <result property="marginAmount"  column="margin_amount" javaType="Long"/>
    <result property="flag"  column="flag" javaType="Integer"/>
    <result property="basicAmount"  column="basic_amount" javaType="Long"/>
    <result property="insureAmount"  column="insure_amount" javaType="Long"/>
    <result property="basicAmountTotal"  column="basic_amount_total" javaType="Long"/>
    <result property="insureAmountTotal"  column="insure_amount_total" javaType="Long"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="endTime"  column="end_time" javaType="Integer"/>
    <result property="routeRange"  column="route_range" javaType="String"/>
    <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
    <result property="countWaybill"  column="count_waybill" javaType="Integer"/>
    <result property="assignNo"  column="assignNo" javaType="String"/>
    <result property="applyNo"  column="applyNo" javaType="String"/>
    <result property="waybillCount"  column="waybillCount" javaType="Integer"/>
    <result property="ownerId"  column="ownerId" javaType="String"/>
    </resultMap>
    
    <resultMap type="com.yrsoft.platform.entity.PInvoiceVo" id="PInvoiceResultVO">
    <result property="id"  column="id" javaType="String"/>
    <result property="shipperId"  column="shipper_id" javaType="String"/>
    <result property="cargoNameId"  column="cargo_name_id" javaType="String"/>
    <result property="invoiceNumber"  column="invoice_number" javaType="String"/>
    <result property="status"  column="status" javaType="Integer"/>
    <result property="startProvince"  column="start_province" javaType="String"/>
    <result property="startCity"  column="start_city" javaType="String"/>
    <result property="startArea"  column="start_area" javaType="String"/>
    <result property="startAddress"  column="start_address" javaType="String"/>
    <result property="startLng"  column="start_lng" javaType="String"/>
    <result property="startLat"  column="start_lat" javaType="String"/>
    <result property="arriveProvince"  column="arrive_province" javaType="String"/>
    <result property="arriveCity"  column="arrive_city" javaType="String"/>
    <result property="arriveArea"  column="arrive_area" javaType="String"/>
    <result property="arriveAddress"  column="arrive_address" javaType="String"/>
    <result property="arriveLng"  column="arrive_lng" javaType="String"/>
    <result property="arriveLat"  column="arrive_lat" javaType="String"/>
    <result property="receiveUserName"  column="receive_user_name" javaType="String"/>
    <result property="receiveUserTelephone"  column="receive_user_telephone" javaType="String"/>
    <result property="goodsName"  column="goods_name" javaType="String"/>
    <result property="goodsNumber"  column="goods_number" javaType="String"/>
    <result property="goodsWeight"  column="goods_weight" javaType="String"/>
    <result property="numUnit"  column="num_unit" javaType="String"/>
    <result property="goodsVolume"  column="goods_volume" javaType="String"/>
    <result property="goodsRemark"  column="goods_remark" javaType="String"/>
    <result property="applyCarNo"  column="apply_car_no" javaType="Integer"/>
    <result property="assignCarNo"  column="assign_car_no" javaType="Integer"/>
    <result property="actualAssignNum"  column="actual_assign_num" javaType="Integer"/>
    <result property="actualApplyNum"  column="actual_apply_num" javaType="Integer"/>
    <result property="numberCall"  column="number_call" javaType="Integer"/>
    <result property="callTime"  column="call_time" javaType="Integer"/>
    <result property="marginAmount"  column="margin_amount" javaType="Long"/>
    <result property="flag"  column="flag" javaType="Integer"/>
    <result property="basicAmount"  column="basic_amount" javaType="Long"/>
    <result property="insureAmount"  column="insure_amount" javaType="Long"/>
    <result property="basicAmountTotal"  column="basic_amount_total" javaType="Long"/>
    <result property="insureAmountTotal"  column="insure_amount_total" javaType="Long"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="endTime"  column="end_time" javaType="Integer"/>
    <result property="routeRange"  column="route_range" javaType="String"/>
    <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
    <result property="countWaybill"  column="count_waybill" javaType="Integer"/>
    <result property="assignNo"  column="assignNo" javaType="String"/>
    <result property="applyNo"  column="applyNo" javaType="String"/>
    <result property="ownerId"  column="ownerId" javaType="String"/>
    <result property="waybillCount"  column="waybillCount" javaType="Integer"/>
    </resultMap>
	
	<sql id="selectPInvoiceVo">
        select id, shipper_id, cargo_name_id, invoice_number, status, start_province, start_city, start_area, start_address, start_lng, start_lat, arrive_province, arrive_city, arrive_area, arrive_address, arrive_lng, arrive_lat, receive_user_name, receive_user_telephone, goods_name, goods_number, goods_weight, num_unit, goods_volume, goods_remark, apply_car_no, assign_car_no, actual_assign_num, actual_apply_num, number_call, call_time, margin_amount, flag, basic_amount, insure_amount, basic_amount_total, insure_amount_total, create_time, end_time, route_range, delete_flag from p_invoice
    </sql>
	

    <select id="selectPInvoiceById" parameterType="String" resultMap="PInvoiceResult">
        select id, shipper_id, cargo_name_id, invoice_number, status, start_province, start_city, start_area, start_address, start_lng, start_lat, arrive_province, arrive_city, arrive_area, arrive_address, arrive_lng, arrive_lat, receive_user_name, receive_user_telephone, goods_name, goods_number, goods_weight, num_unit, goods_volume, goods_remark, apply_car_no, assign_car_no, actual_assign_num, actual_apply_num, number_call, call_time, margin_amount, flag, basic_amount, insure_amount, basic_amount_total, insure_amount_total, create_time, end_time, route_range, delete_flag from p_invoice    
        where id = #{id}
    </select>

    <select id="selectPInvoiceList" parameterType="PInvoice" resultMap="PInvoiceResult">
        select id, shipper_id, cargo_name_id, invoice_number, status, start_province, start_city,
         start_area, start_address, start_lng, start_lat, arrive_province, arrive_city, arrive_area, 
         arrive_address, arrive_lng, arrive_lat, receive_user_name, receive_user_telephone, goods_name, 
         goods_number, goods_weight, num_unit, goods_volume, goods_remark, apply_car_no, assign_car_no, 
         actual_assign_num, actual_apply_num, number_call, call_time, margin_amount, flag, basic_amount, 
         insure_amount, basic_amount_total, insure_amount_total, create_time, end_time, route_range, delete_flag,
        (select count(id) from p_waybill where p_waybill.invoice_id = p_invoice.id and p_waybill.flag = '0') AS assignNo,
        (select count(id) from p_waybill where p_waybill.invoice_id = p_invoice.id and p_waybill.flag = '1') AS applyNo,
        (select count(id) from p_waybill where p_waybill.invoice_id = p_invoice.id and p_waybill.waybill_state=3 and p_waybill.delete_flag=0) count_waybill
        from p_invoice 
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="shipperId != null  and shipperId != '' "> and shipper_id = #{shipperId}</if>
                            <if test="cargoNameId != null  and cargoNameId != '' "> and cargo_name_id = #{cargoNameId}</if>
                            <if test="invoiceNumber != null  and invoiceNumber != '' "> and invoice_number = #{invoiceNumber}</if>
                            <if test="status != null "> and status = #{status}</if>
                            <if test="startProvince != null  and startProvince != '' "> and start_province = #{startProvince}</if>
                            <if test="startCity != null  and startCity != '' "> and start_city = #{startCity}</if>
                            <if test="startArea != null  and startArea != '' "> and start_area = #{startArea}</if>
                            <if test="startAddress != null  and startAddress != '' "> and start_address = #{startAddress}</if>
                            <if test="startLng != null  and startLng != '' "> and start_lng = #{startLng}</if>
                            <if test="startLat != null  and startLat != '' "> and start_lat = #{startLat}</if>
                            <if test="arriveProvince != null  and arriveProvince != '' "> and arrive_province = #{arriveProvince}</if>
                            <if test="arriveCity != null  and arriveCity != '' "> and arrive_city = #{arriveCity}</if>
                            <if test="arriveArea != null  and arriveArea != '' "> and arrive_area = #{arriveArea}</if>
                            <if test="arriveAddress != null  and arriveAddress != '' "> and arrive_address = #{arriveAddress}</if>
                            <if test="arriveLng != null  and arriveLng != '' "> and arrive_lng = #{arriveLng}</if>
                            <if test="arriveLat != null  and arriveLat != '' "> and arrive_lat = #{arriveLat}</if>
                            <if test="receiveUserName != null  and receiveUserName != '' "> and receive_user_name = #{receiveUserName}</if>
                            <if test="receiveUserTelephone != null  and receiveUserTelephone != '' "> and receive_user_telephone = #{receiveUserTelephone}</if>
                            <if test="goodsName != null  and goodsName != '' "> and goods_name = #{goodsName}</if>
                            <if test="goodsNumber != null  and goodsNumber != '' "> and goods_number = #{goodsNumber}</if>
                            <if test="goodsWeight != null  and goodsWeight != '' "> and goods_weight = #{goodsWeight}</if>
                            <if test="numUnit != null  and numUnit != '' "> and num_unit = #{numUnit}</if>
                            <if test="goodsVolume != null  and goodsVolume != '' "> and goods_volume = #{goodsVolume}</if>
                            <if test="goodsRemark != null  and goodsRemark != '' "> and goods_remark = #{goodsRemark}</if>
                            <if test="applyCarNo != null "> and apply_car_no = #{applyCarNo}</if>
                            <if test="assignCarNo != null "> and assign_car_no = #{assignCarNo}</if>
                            <if test="actualAssignNum != null "> and actual_assign_num = #{actualAssignNum}</if>
                            <if test="actualApplyNum != null "> and actual_apply_num = #{actualApplyNum}</if>
                            <if test="numberCall != null "> and number_call = #{numberCall}</if>
                            <if test="callTime != null "> and call_time = #{callTime}</if>
                            <if test="marginAmount != null "> and margin_amount = #{marginAmount}</if>
                            <if test="flag != null "> and flag = #{flag}</if>
                            <if test="basicAmount != null "> and basic_amount = #{basicAmount}</if>
                            <if test="insureAmount != null "> and insure_amount = #{insureAmount}</if>
                            <if test="basicAmountTotal != null "> and basic_amount_total = #{basicAmountTotal}</if>
                            <if test="insureAmountTotal != null "> and insure_amount_total = #{insureAmountTotal}</if>
                            <if test="createTime != null "> and create_time &gt;= #{createTime}</if>
                            <if test="endTime != null "> and end_time &lt;#{endTime}</if>
                            <if test="routeRange != null "> and route_range = #{routeRange}</if>
                            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
                    </where>
    </select>
    	
    	<!--货运管理-货运单列表信息 -->
        <select id="selectInvoice" parameterType="PInvoiceVo" resultType="map">
        select p.id, p.shipper_id, p.cargo_name_id, p.invoice_number, p.status, p.start_province, 
        		p.start_city, p.start_area, p.start_address, p.start_lng, p.start_lat, p.arrive_province, p.arrive_city, p.arrive_area, 
        		p.arrive_address, p.arrive_lng, p.arrive_lat, p.receive_user_name, p.receive_user_telephone,p.goods_name, p.goods_number, 
        		p.goods_weight, p.num_unit, p.goods_volume, p.goods_remark, p.apply_car_no, p.assign_car_no, p.actual_assign_num, 
        		p.actual_apply_num, p.number_call, p.call_time, p.margin_amount, p.flag, p.basic_amount, 
        		p.insure_amount, p.basic_amount_total, p.insure_amount_total, p.create_time, p.end_time, p.route_range, p.delete_flag,
       			if((SELECT count(id) FROM p_margin_records WHERE p_margin_records.invoice_id = p.id) = 0,0,1) deleteButton,
       			(select count(id) from p_waybill pw where pw.invoice_id = p.id and pw.flag =0)  AS assignNo, <!-- 指派单数 -->
       			(select count(id) from p_waybill pw where pw.invoice_id = p.id and pw.flag =1)  AS applyNo <!-- 系统运单数 -->
        from p_invoice p 
         <where>
         	p.delete_flag = '0' 
         	AND ((p.apply_car_no+assign_car_no)>(select count(id) from p_waybill where p_waybill.invoice_id=p.id))
            <if test="id != null  and id != '' "> and id = #{id}</if>
            <if test="shipperId != null  and shipperId != '' "> and shipper_id = #{shipperId}</if>
            <if test="cargoNameId != null  and cargoNameId != '' "> and cargo_name_id = #{cargoNameId}</if>
            <if test="invoiceNumber != null  and invoiceNumber != '' "> and invoice_number = #{invoiceNumber}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
         </where>
    </select>
        
      	<!-- 货运管理-我的货运单 -->
        <select id="myPInvoiceInfo" parameterType="PInvoiceVo" resultType="map">
        select p.id, p.shipper_id, p.cargo_name_id, p.invoice_number, p.status, p.start_province, 
        		p.start_city, p.start_area, p.start_address, p.start_lng, p.start_lat, p.arrive_province, p.arrive_city, p.arrive_area, 
        		p.arrive_address, p.arrive_lng, p.arrive_lat, p.receive_user_name, p.receive_user_telephone,p.goods_name, p.goods_number, 
        		p.goods_weight, p.num_unit, p.goods_volume, p.goods_remark, p.apply_car_no, p.assign_car_no, p.actual_assign_num, 
        		p.actual_apply_num, p.number_call, p.call_time, p.margin_amount, p.flag, p.basic_amount, 
        		p.insure_amount, p.basic_amount_total, p.insure_amount_total, p.create_time, p.end_time, p.route_range, p.delete_flag 
        from p_invoice p
		<where> 
			and p.delete_flag = '0'
         	AND ((p.apply_car_no+assign_car_no)=(select count(id) from p_waybill where p_waybill.invoice_id=p.id)) 
         	and (select count(id) from p_waybill where  p_waybill.waybill_state = #{waybillState}  AND p.id = p_waybill.invoice_id)>0
           <if test="id != null  and id != '' "> and p.id = #{id}</if>
           <if test="shipperId != null  and shipperId != '' "> and p.shipper_id = #{shipperId}</if>
           <if test="cargoNameId != null  and cargoNameId != '' "> and p.cargo_name_id = #{cargoNameId}</if>
           <if test="invoiceNumber != null  and invoiceNumber != '' "> and p.invoice_number = #{invoiceNumber}</if>
           <if test="status != null "> and p.status = #{status}</if>
           <if test="flag != null "> and p.flag = #{flag}</if>
           <if test="deleteFlag != null "> and p.delete_flag = #{deleteFlag}</if>
        </where>
    </select>
        
        
        
        
    <insert id="insertPInvoice" parameterType="PInvoice">
        insert into p_invoice
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="shipperId != null  and shipperId != ''  ">shipper_id,</if>
			<if test="cargoNameId != null  and cargoNameId != ''  ">cargo_name_id,</if>
			<if test="invoiceNumber != null  and invoiceNumber != ''  ">invoice_number,</if>
			<if test="status != null  ">status,</if>
			<if test="startProvince != null  and startProvince != ''  ">start_province,</if>
			<if test="startCity != null  and startCity != ''  ">start_city,</if>
			<if test="startArea != null  and startArea != ''  ">start_area,</if>
			<if test="startAddress != null  and startAddress != ''  ">start_address,</if>
			<if test="startLng != null  and startLng != ''  ">start_lng,</if>
			<if test="startLat != null  and startLat != ''  ">start_lat,</if>
			<if test="arriveProvince != null  and arriveProvince != ''  ">arrive_province,</if>
			<if test="arriveCity != null  and arriveCity != ''  ">arrive_city,</if>
			<if test="arriveArea != null  and arriveArea != ''  ">arrive_area,</if>
			<if test="arriveAddress != null  and arriveAddress != ''  ">arrive_address,</if>
			<if test="arriveLng != null  and arriveLng != ''  ">arrive_lng,</if>
			<if test="arriveLat != null  and arriveLat != ''  ">arrive_lat,</if>
			<if test="receiveUserName != null  and receiveUserName != ''  ">receive_user_name,</if>
			<if test="receiveUserTelephone != null  and receiveUserTelephone != ''  ">receive_user_telephone,</if>
			<if test="goodsName != null  and goodsName != ''  ">goods_name,</if>
			<if test="goodsNumber != null  and goodsNumber != ''  ">goods_number,</if>
			<if test="goodsWeight != null  and goodsWeight != ''  ">goods_weight,</if>
			<if test="numUnit != null  and numUnit != ''  ">num_unit,</if>
			<if test="goodsVolume != null  and goodsVolume != ''  ">goods_volume,</if>
			<if test="goodsRemark != null  and goodsRemark != ''  ">goods_remark,</if>
			<if test="applyCarNo != null  ">apply_car_no,</if>
			<if test="assignCarNo != null  ">assign_car_no,</if>
			<if test="actualAssignNum != null  ">actual_assign_num,</if>
			<if test="actualApplyNum != null  ">actual_apply_num,</if>
			<if test="numberCall != null  ">number_call,</if>
			<if test="callTime != null  ">call_time,</if>
			<if test="marginAmount != null  ">margin_amount,</if>
			<if test="flag != null  ">flag,</if>
			<if test="basicAmount != null  ">basic_amount,</if>
			<if test="insureAmount != null  ">insure_amount,</if>
			<if test="basicAmountTotal != null  ">basic_amount_total,</if>
			<if test="insureAmountTotal != null  ">insure_amount_total,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="endTime != null  ">end_time,</if>
			<if test="routeRange != null  ">route_range,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="shipperId != null  and shipperId != ''  ">#{shipperId},</if>
			<if test="cargoNameId != null  and cargoNameId != ''  ">#{cargoNameId},</if>
			<if test="invoiceNumber != null  and invoiceNumber != ''  ">#{invoiceNumber},</if>
			<if test="status != null  ">#{status},</if>
			<if test="startProvince != null  and startProvince != ''  ">#{startProvince},</if>
			<if test="startCity != null  and startCity != ''  ">#{startCity},</if>
			<if test="startArea != null  and startArea != ''  ">#{startArea},</if>
			<if test="startAddress != null  and startAddress != ''  ">#{startAddress},</if>
			<if test="startLng != null  and startLng != ''  ">#{startLng},</if>
			<if test="startLat != null  and startLat != ''  ">#{startLat},</if>
			<if test="arriveProvince != null  and arriveProvince != ''  ">#{arriveProvince},</if>
			<if test="arriveCity != null  and arriveCity != ''  ">#{arriveCity},</if>
			<if test="arriveArea != null  and arriveArea != ''  ">#{arriveArea},</if>
			<if test="arriveAddress != null  and arriveAddress != ''  ">#{arriveAddress},</if>
			<if test="arriveLng != null  and arriveLng != ''  ">#{arriveLng},</if>
			<if test="arriveLat != null  and arriveLat != ''  ">#{arriveLat},</if>
			<if test="receiveUserName != null  and receiveUserName != ''  ">#{receiveUserName},</if>
			<if test="receiveUserTelephone != null  and receiveUserTelephone != ''  ">#{receiveUserTelephone},</if>
			<if test="goodsName != null  and goodsName != ''  ">#{goodsName},</if>
			<if test="goodsNumber != null  and goodsNumber != ''  ">#{goodsNumber},</if>
			<if test="goodsWeight != null  and goodsWeight != ''  ">#{goodsWeight},</if>
			<if test="numUnit != null  and numUnit != ''  ">#{numUnit},</if>
			<if test="goodsVolume != null  and goodsVolume != ''  ">#{goodsVolume},</if>
			<if test="goodsRemark != null  and goodsRemark != ''  ">#{goodsRemark},</if>
			<if test="applyCarNo != null  ">#{applyCarNo},</if>
			<if test="assignCarNo != null  ">#{assignCarNo},</if>
			<if test="actualAssignNum != null  ">#{actualAssignNum},</if>
			<if test="actualApplyNum != null  ">#{actualApplyNum},</if>
			<if test="numberCall != null  ">#{numberCall},</if>
			<if test="callTime != null  ">#{callTime},</if>
			<if test="marginAmount != null  ">#{marginAmount},</if>
			<if test="flag != null  ">#{flag},</if>
			<if test="basicAmount != null  ">#{basicAmount},</if>
			<if test="insureAmount != null  ">#{insureAmount},</if>
			<if test="basicAmountTotal != null  ">#{basicAmountTotal},</if>
			<if test="insureAmountTotal != null  ">#{insureAmountTotal},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="endTime != null  ">#{endTime},</if>
			<if test="routeRange != null  ">#{routeRange},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
         </trim>
    </insert>
	 
    <update id="updatePInvoice" parameterType="PInvoice">
        update p_invoice
       <set>
            <if test="shipperId != null  and shipperId != ''  ">shipper_id = #{shipperId},</if>
            <if test="cargoNameId != null  and cargoNameId != ''  ">cargo_name_id = #{cargoNameId},</if>
            <if test="invoiceNumber != null  and invoiceNumber != ''  ">invoice_number = #{invoiceNumber},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="startProvince != null  and startProvince != ''  ">start_province = #{startProvince},</if>
            <if test="startCity != null  and startCity != ''  ">start_city = #{startCity},</if>
            <if test="startArea != null  and startArea != ''  ">start_area = #{startArea},</if>
            <if test="startAddress != null  and startAddress != ''  ">start_address = #{startAddress},</if>
            <if test="startLng != null  and startLng != ''  ">start_lng = #{startLng},</if>
            <if test="startLat != null  and startLat != ''  ">start_lat = #{startLat},</if>
            <if test="arriveProvince != null  and arriveProvince != ''  ">arrive_province = #{arriveProvince},</if>
            <if test="arriveCity != null  and arriveCity != ''  ">arrive_city = #{arriveCity},</if>
            <if test="arriveArea != null  and arriveArea != ''  ">arrive_area = #{arriveArea},</if>
            <if test="arriveAddress != null  and arriveAddress != ''  ">arrive_address = #{arriveAddress},</if>
            <if test="arriveLng != null  and arriveLng != ''  ">arrive_lng = #{arriveLng},</if>
            <if test="arriveLat != null  and arriveLat != ''  ">arrive_lat = #{arriveLat},</if>
            <if test="receiveUserName != null  and receiveUserName != ''  ">receive_user_name = #{receiveUserName},</if>
            <if test="receiveUserTelephone != null  and receiveUserTelephone != ''  ">receive_user_telephone = #{receiveUserTelephone},</if>
            <if test="goodsName != null  and goodsName != ''  ">goods_name = #{goodsName},</if>
            <if test="goodsNumber != null  and goodsNumber != ''  ">goods_number = #{goodsNumber},</if>
            <if test="goodsWeight != null  and goodsWeight != ''  ">goods_weight = #{goodsWeight},</if>
            <if test="numUnit != null  and numUnit != ''  ">num_unit = #{numUnit},</if>
            <if test="goodsVolume != null  and goodsVolume != ''  ">goods_volume = #{goodsVolume},</if>
            <if test="goodsRemark != null  and goodsRemark != ''  ">goods_remark = #{goodsRemark},</if>
            <if test="applyCarNo != null  ">apply_car_no = #{applyCarNo},</if>
            <if test="assignCarNo != null  ">assign_car_no = #{assignCarNo},</if>
            <if test="actualAssignNum != null  ">actual_assign_num = #{actualAssignNum},</if>
            <if test="actualApplyNum != null  ">actual_apply_num = #{actualApplyNum},</if>
            <if test="numberCall != null  ">number_call = #{numberCall},</if>
            <if test="callTime != null  ">call_time = #{callTime},</if>
            <if test="marginAmount != null  ">margin_amount = #{marginAmount},</if>
            <if test="flag != null  ">flag = #{flag},</if>
            <if test="basicAmount != null  ">basic_amount = #{basicAmount},</if>
            <if test="insureAmount != null  ">insure_amount = #{insureAmount},</if>
            <if test="basicAmountTotal != null  ">basic_amount_total = #{basicAmountTotal},</if>
            <if test="insureAmountTotal != null  ">insure_amount_total = #{insureAmountTotal},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="endTime != null  ">end_time = #{endTime},</if>
            <if test="routeRange != null  ">route_range = #{routeRange},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updatePInvoiceByIds"  parameterType="java.util.Map">
        UPDATE p_invoice
        <set>
           <if test="shipperId != null  and shipperId != ''  ">shipper_id = #{shipperId},</if>
           <if test="cargoNameId != null  and cargoNameId != ''  ">cargo_name_id = #{cargoNameId},</if>
           <if test="invoiceNumber != null  and invoiceNumber != ''  ">invoice_number = #{invoiceNumber},</if>
           <if test="status != null  ">status = #{status},</if>
           <if test="startProvince != null  and startProvince != ''  ">start_province = #{startProvince},</if>
           <if test="startCity != null  and startCity != ''  ">start_city = #{startCity},</if>
           <if test="startArea != null  and startArea != ''  ">start_area = #{startArea},</if>
           <if test="startAddress != null  and startAddress != ''  ">start_address = #{startAddress},</if>
           <if test="startLng != null  and startLng != ''  ">start_lng = #{startLng},</if>
           <if test="startLat != null  and startLat != ''  ">start_lat = #{startLat},</if>
           <if test="arriveProvince != null  and arriveProvince != ''  ">arrive_province = #{arriveProvince},</if>
           <if test="arriveCity != null  and arriveCity != ''  ">arrive_city = #{arriveCity},</if>
           <if test="arriveArea != null  and arriveArea != ''  ">arrive_area = #{arriveArea},</if>
           <if test="arriveAddress != null  and arriveAddress != ''  ">arrive_address = #{arriveAddress},</if>
           <if test="arriveLng != null  and arriveLng != ''  ">arrive_lng = #{arriveLng},</if>
           <if test="arriveLat != null  and arriveLat != ''  ">arrive_lat = #{arriveLat},</if>
           <if test="receiveUserName != null  and receiveUserName != ''  ">receive_user_name = #{receiveUserName},</if>
           <if test="receiveUserTelephone != null  and receiveUserTelephone != ''  ">receive_user_telephone = #{receiveUserTelephone},</if>
           <if test="goodsName != null  and goodsName != ''  ">goods_name = #{goodsName},</if>
           <if test="goodsNumber != null  and goodsNumber != ''  ">goods_number = #{goodsNumber},</if>
           <if test="goodsWeight != null  and goodsWeight != ''  ">goods_weight = #{goodsWeight},</if>
           <if test="numUnit != null  and numUnit != ''  ">num_unit = #{numUnit},</if>
           <if test="goodsVolume != null  and goodsVolume != ''  ">goods_volume = #{goodsVolume},</if>
           <if test="goodsRemark != null  and goodsRemark != ''  ">goods_remark = #{goodsRemark},</if>
           <if test="applyCarNo != null  ">apply_car_no = #{applyCarNo},</if>
           <if test="assignCarNo != null  ">assign_car_no = #{assignCarNo},</if>
           <if test="actualAssignNum != null  ">actual_assign_num = #{actualAssignNum},</if>
           <if test="actualApplyNum != null  ">actual_apply_num = #{actualApplyNum},</if>
           <if test="numberCall != null  ">number_call = #{numberCall},</if>
           <if test="callTime != null  ">call_time = #{callTime},</if>
           <if test="marginAmount != null  ">margin_amount = #{marginAmount},</if>
           <if test="flag != null  ">flag = #{flag},</if>
           <if test="basicAmount != null  ">basic_amount = #{basicAmount},</if>
           <if test="insureAmount != null  ">insure_amount = #{insureAmount},</if>
           <if test="basicAmountTotal != null  ">basic_amount_total = #{basicAmountTotal},</if>
           <if test="insureAmountTotal != null  ">insure_amount_total = #{insureAmountTotal},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="endTime != null  ">end_time = #{endTime},</if>
           <if test="routeRange != null  ">route_range = #{routeRange},</if>
           <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deletePInvoiceByIds" parameterType="String">
        delete from p_invoice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPInvoiceNumByState" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
        (
            SELECT COUNT( DISTINCT pw.invoice_id) from  p_waybill pw
            LEFT JOIN p_invoice pin on pin.id=pw.invoice_id
            where pw.delete_flag=0 and pin.delete_flag=0
            and pw.waybill_state =1  and pin.shipper_id=#{id}
        ) as inTransitNum,
        (
            SELECT COUNT( DISTINCT pw.invoice_id) from  p_waybill pw
            LEFT JOIN p_invoice pin on pin.id=pw.invoice_id
            where pw.delete_flag=0 and pin.delete_flag=0
            and pw.waybill_state in(2,3) and pin.shipper_id=#{id}
        ) as deliveredNum
        from DUAL

    </select>
    
    <!--查询货主下车主的运单数  -->
    <select id="selectWaybillCount" parameterType="String" resultMap="PInvoiceResult">
	    SELECT
			COUNT(w.waybill_number) waybillCount,
			w.owner_id ownerId
		FROM
			p_invoice i
		LEFT JOIN p_waybill w ON i.id=w.invoice_id
		<where>
			w.delete_flag=0 AND i.delete_flag=0
			<if test="shipperId != null and shipperId !=''">
	    		and i.shipper_id = #{shipperId,jdbcType=VARCHAR} 
	    	</if>
	    	<if test="ownerId != null and ownerId !=''">
	    		and w.owner_id =#{ownerId,jdbcType=VARCHAR}
	    	</if>
		</where>
    </select>
    <!--查询已完成最新运单的地址  -->
    <select id="selectInvoiceAddress"  parameterType="string" resultMap="PInvoiceResult">
    	SELECT
			i.invoice_number  ,
			i.arrive_address  ,
			i.arrive_area ,
			i.arrive_city  ,
			i.arrive_lat ,
			i.arrive_lng ,
			i.arrive_province ,
			i.start_address ,
			i.start_area ,
			i.start_city ,
			i.start_lat ,
			i.start_lng ,
			i.start_province,
			i.receive_user_name,
			i.receive_user_telephone
			
		FROM
			p_invoice i,
			p_waybill w
		WHERE
			i.id = w.invoice_id
		AND i.delete_flag = 0
		AND w.delete_flag = 0
		AND w.waybill_state = 3
		AND i.shipper_id = #{shipperId}
		ORDER BY
			w.create_time DESC
		LIMIT 1
    </select>
	
	
    
</mapper>