<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.platform.dao.PMarginRefundDao">

    <resultMap type="com.yrsoft.platform.entity.PMarginRefund" id="PMarginRefundResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="assignApplyId"  column="assign_apply_id" javaType="String"/>
    <result property="shipperId"  column="shipper_id" javaType="String"/>
    <result property="refundAmount"  column="refund_amount" javaType="Long"/>
    <result property="refundReason"  column="refund_reason" javaType="String"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="checkUseId"  column="check_use_id" javaType="String"/>
    <result property="checkTime"  column="check_time" javaType="Integer"/>
    <result property="checkStatus"  column="check_status" javaType="Integer"/>
    <result property="checkAdvise"  column="check_advise" javaType="String"/>
    <result property="isAutoCheck"  column="is_auto_check" javaType="Integer"/>
    </resultMap>
	
	<sql id="selectPMarginRefundVo">
        select id, assign_apply_id, shipper_id, refund_amount, refund_reason, create_time, check_use_id, check_time, check_status, check_advise, is_auto_check from p_margin_refund
    </sql>
	

    <select id="selectPMarginRefundById" parameterType="String" resultMap="PMarginRefundResult">
        <include refid="selectPMarginRefundVo"/>
        where id = #{id}
    </select>

    <select id="selectPMarginRefundList" parameterType="PMarginRefund" resultMap="PMarginRefundResult">
        <include refid="selectPMarginRefundVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="assignApplyId != null  and assignApplyId != '' "> and assign_apply_id = #{assignApplyId}</if>
                            <if test="shipperId != null  and shipperId != '' "> and shipper_id = #{shipperId}</if>
                            <if test="refundAmount != null "> and refund_amount = #{refundAmount}</if>
                            <if test="refundReason != null  and refundReason != '' "> and refund_reason = #{refundReason}</if>
                            <if test="createTime != null "> and create_time = #{createTime}</if>
                            <if test="checkUseId != null  and checkUseId != '' "> and check_use_id = #{checkUseId}</if>
                            <if test="checkTime != null "> and check_time = #{checkTime}</if>
                            <if test="checkStatus != null "> and check_status = #{checkStatus}</if>
                            <if test="checkAdvise != null  and checkAdvise != '' "> and check_advise = #{checkAdvise}</if>
                            <if test="isAutoCheck != null "> and is_auto_check = #{isAutoCheck}</if>
                    </where>
    </select>
        
    <insert id="insertPMarginRefund" parameterType="PMarginRefund">
        insert into p_margin_refund
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="assignApplyId != null  and assignApplyId != ''  ">assign_apply_id,</if>
			<if test="shipperId != null  and shipperId != ''  ">shipper_id,</if>
			<if test="refundAmount != null  ">refund_amount,</if>
			<if test="refundReason != null  and refundReason != ''  ">refund_reason,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="checkUseId != null  and checkUseId != ''  ">check_use_id,</if>
			<if test="checkTime != null  ">check_time,</if>
			<if test="checkStatus != null  ">check_status,</if>
			<if test="checkAdvise != null  and checkAdvise != ''  ">check_advise,</if>
			<if test="isAutoCheck != null  ">is_auto_check,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="assignApplyId != null  and assignApplyId != ''  ">#{assignApplyId},</if>
			<if test="shipperId != null  and shipperId != ''  ">#{shipperId},</if>
			<if test="refundAmount != null  ">#{refundAmount},</if>
			<if test="refundReason != null  and refundReason != ''  ">#{refundReason},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="checkUseId != null  and checkUseId != ''  ">#{checkUseId},</if>
			<if test="checkTime != null  ">#{checkTime},</if>
			<if test="checkStatus != null  ">#{checkStatus},</if>
			<if test="checkAdvise != null  and checkAdvise != ''  ">#{checkAdvise},</if>
			<if test="isAutoCheck != null  ">#{isAutoCheck},</if>
         </trim>
    </insert>
	 
    <update id="updatePMarginRefund" parameterType="PMarginRefund">
        update p_margin_refund
       <set>
            <if test="assignApplyId != null  and assignApplyId != ''  ">assign_apply_id = #{assignApplyId},</if>
            <if test="shipperId != null  and shipperId != ''  ">shipper_id = #{shipperId},</if>
            <if test="refundAmount != null  ">refund_amount = #{refundAmount},</if>
            <if test="refundReason != null  and refundReason != ''  ">refund_reason = #{refundReason},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="checkUseId != null  and checkUseId != ''  ">check_use_id = #{checkUseId},</if>
            <if test="checkTime != null  ">check_time = #{checkTime},</if>
            <if test="checkStatus != null  ">check_status = #{checkStatus},</if>
            <if test="checkAdvise != null  and checkAdvise != ''  ">check_advise = #{checkAdvise},</if>
            <if test="isAutoCheck != null  ">is_auto_check = #{isAutoCheck},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updatePMarginRefundByIds"  parameterType="java.util.Map">
        UPDATE p_margin_refund
        <set>
           <if test="assignApplyId != null  and assignApplyId != ''  ">assign_apply_id = #{assignApplyId},</if>
           <if test="shipperId != null  and shipperId != ''  ">shipper_id = #{shipperId},</if>
           <if test="refundAmount != null  ">refund_amount = #{refundAmount},</if>
           <if test="refundReason != null  and refundReason != ''  ">refund_reason = #{refundReason},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="checkUseId != null  and checkUseId != ''  ">check_use_id = #{checkUseId},</if>
           <if test="checkTime != null  ">check_time = #{checkTime},</if>
           <if test="checkStatus != null  ">check_status = #{checkStatus},</if>
           <if test="checkAdvise != null  and checkAdvise != ''  ">check_advise = #{checkAdvise},</if>
           <if test="isAutoCheck != null  ">is_auto_check = #{isAutoCheck},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deletePMarginRefundByIds" parameterType="String">
        delete from p_margin_refund where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>