<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.platform.dao.PShipmentsModelDao">

    <resultMap type="com.yrsoft.platform.entity.PShipmentsModel" id="PShipmentsModelResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="shipperId"  column="shipper_id" javaType="String"/>
    <result property="consigneeName"  column="consignee_name" javaType="String"/>
    <result property="consigneePhone"  column="consignee_phone" javaType="String"/>
    <result property="shipperProvince"  column="shipper_province" javaType="String"/>
    <result property="shipperCity"  column="shipper_city" javaType="String"/>
    <result property="shipperArea"  column="shipper_area" javaType="String"/>
    <result property="shipperAddress"  column="shipper_address" javaType="String"/>
    <result property="consigneeProvince"  column="consignee_province" javaType="String"/>
    <result property="consigneeCity"  column="consignee_city" javaType="String"/>
    <result property="consigneeArea"  column="consignee_area" javaType="String"/>
    <result property="consigneeAddress"  column="consignee_address" javaType="String"/>
    <result property="shipperLng"  column="shipper_lng" javaType="String"/>
    <result property="shipperLat"  column="shipper_lat" javaType="String"/>
    <result property="consigneeLng"  column="consignee_lng" javaType="String"/>
    <result property="consigneeLat"  column="consignee_lat" javaType="String"/>
    <result property="cargo"  column="cargo" javaType="String"/>
    <result property="weight"  column="weight" javaType="String"/>
    <result property="volume"  column="volume" javaType="String"/>
    <result property="type"  column="type" javaType="Integer"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="updateTime"  column="update_time" javaType="Integer"/>
    <result property="shipperProvinceCode"  column="shipper_province_code" javaType="String"/>
    <result property="shipperCityCode"  column="shipper_city_code" javaType="String"/>
    <result property="shipperAreaCode"  column="shipper_area_code" javaType="String"/>
    <result property="consigneeProvinceCode"  column="consignee_province_code" javaType="String"/>
    <result property="consigneeCityCode"  column="consignee_city_code" javaType="String"/>
    <result property="consigneeAreaCode"  column="consignee_area_code" javaType="String"/>
    <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
    </resultMap>
	
	<sql id="selectPShipmentsModelVo">
        select id, shipper_id, consignee_name, consignee_phone, shipper_province, shipper_city, shipper_area, shipper_address, consignee_province, consignee_city, consignee_area, consignee_address, shipper_lng, shipper_lat, consignee_lng, consignee_lat, cargo, weight, volume, type, create_time, update_time, shipper_province_code, shipper_city_code, shipper_area_code, consignee_province_code, consignee_city_code, consignee_area_code, delete_flag from p_shipments_model
    </sql>
	

    <select id="selectPShipmentsModelById" parameterType="String" resultMap="PShipmentsModelResult">
        <include refid="selectPShipmentsModelVo"/>
        where id = #{id}
    </select>

    <select id="selectPShipmentsModelList" parameterType="PShipmentsModel" resultMap="PShipmentsModelResult">
        <include refid="selectPShipmentsModelVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="shipperId != null  and shipperId != '' "> and shipper_id = #{shipperId}</if>
                            <if test="consigneeName != null  and consigneeName != '' "> and consignee_name = #{consigneeName}</if>
                            <if test="consigneePhone != null  and consigneePhone != '' "> and consignee_phone = #{consigneePhone}</if>
                            <if test="shipperProvince != null  and shipperProvince != '' "> and shipper_province = #{shipperProvince}</if>
                            <if test="shipperCity != null  and shipperCity != '' "> and shipper_city = #{shipperCity}</if>
                            <if test="shipperArea != null  and shipperArea != '' "> and shipper_area = #{shipperArea}</if>
                            <if test="shipperAddress != null  and shipperAddress != '' "> and shipper_address = #{shipperAddress}</if>
                            <if test="consigneeProvince != null  and consigneeProvince != '' "> and consignee_province = #{consigneeProvince}</if>
                            <if test="consigneeCity != null  and consigneeCity != '' "> and consignee_city = #{consigneeCity}</if>
                            <if test="consigneeArea != null  and consigneeArea != '' "> and consignee_area = #{consigneeArea}</if>
                            <if test="consigneeAddress != null  and consigneeAddress != '' "> and consignee_address = #{consigneeAddress}</if>
                            <if test="shipperLng != null  and shipperLng != '' "> and shipper_lng = #{shipperLng}</if>
                            <if test="shipperLat != null  and shipperLat != '' "> and shipper_lat = #{shipperLat}</if>
                            <if test="consigneeLng != null  and consigneeLng != '' "> and consignee_lng = #{consigneeLng}</if>
                            <if test="consigneeLat != null  and consigneeLat != '' "> and consignee_lat = #{consigneeLat}</if>
                            <if test="cargo != null  and cargo != '' "> and cargo = #{cargo}</if>
                            <if test="weight != null  and weight != '' "> and weight = #{weight}</if>
                            <if test="volume != null  and volume != '' "> and volume = #{volume}</if>
                            <if test="type != null "> and type = #{type}</if>
                            <if test="createTime != null "> and create_time = #{createTime}</if>
                            <if test="updateTime != null "> and update_time = #{updateTime}</if>
                            <if test="shipperProvinceCode != null  and shipperProvinceCode != '' "> and shipper_province_code = #{shipperProvinceCode}</if>
                            <if test="shipperCityCode != null  and shipperCityCode != '' "> and shipper_city_code = #{shipperCityCode}</if>
                            <if test="shipperAreaCode != null  and shipperAreaCode != '' "> and shipper_area_code = #{shipperAreaCode}</if>
                            <if test="consigneeProvinceCode != null  and consigneeProvinceCode != '' "> and consignee_province_code = #{consigneeProvinceCode}</if>
                            <if test="consigneeCityCode != null  and consigneeCityCode != '' "> and consignee_city_code = #{consigneeCityCode}</if>
                            <if test="consigneeAreaCode != null  and consigneeAreaCode != '' "> and consignee_area_code = #{consigneeAreaCode}</if>
                            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
                    </where>
    </select>
        
    <insert id="insertPShipmentsModel" parameterType="PShipmentsModel">
        insert into p_shipments_model
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="shipperId != null  and shipperId != ''  ">shipper_id,</if>
			<if test="consigneeName != null  and consigneeName != ''  ">consignee_name,</if>
			<if test="consigneePhone != null  and consigneePhone != ''  ">consignee_phone,</if>
			<if test="shipperProvince != null  and shipperProvince != ''  ">shipper_province,</if>
			<if test="shipperCity != null  and shipperCity != ''  ">shipper_city,</if>
			<if test="shipperArea != null  and shipperArea != ''  ">shipper_area,</if>
			<if test="shipperAddress != null  and shipperAddress != ''  ">shipper_address,</if>
			<if test="consigneeProvince != null  and consigneeProvince != ''  ">consignee_province,</if>
			<if test="consigneeCity != null  and consigneeCity != ''  ">consignee_city,</if>
			<if test="consigneeArea != null  and consigneeArea != ''  ">consignee_area,</if>
			<if test="consigneeAddress != null  and consigneeAddress != ''  ">consignee_address,</if>
			<if test="shipperLng != null  and shipperLng != ''  ">shipper_lng,</if>
			<if test="shipperLat != null  and shipperLat != ''  ">shipper_lat,</if>
			<if test="consigneeLng != null  and consigneeLng != ''  ">consignee_lng,</if>
			<if test="consigneeLat != null  and consigneeLat != ''  ">consignee_lat,</if>
			<if test="cargo != null  and cargo != ''  ">cargo,</if>
			<if test="weight != null  and weight != ''  ">weight,</if>
			<if test="volume != null  and volume != ''  ">volume,</if>
			<if test="type != null  ">type,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="shipperProvinceCode != null  and shipperProvinceCode != ''  ">shipper_province_code,</if>
			<if test="shipperCityCode != null  and shipperCityCode != ''  ">shipper_city_code,</if>
			<if test="shipperAreaCode != null  and shipperAreaCode != ''  ">shipper_area_code,</if>
			<if test="consigneeProvinceCode != null  and consigneeProvinceCode != ''  ">consignee_province_code,</if>
			<if test="consigneeCityCode != null  and consigneeCityCode != ''  ">consignee_city_code,</if>
			<if test="consigneeAreaCode != null  and consigneeAreaCode != ''  ">consignee_area_code,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="shipperId != null  and shipperId != ''  ">#{shipperId},</if>
			<if test="consigneeName != null  and consigneeName != ''  ">#{consigneeName},</if>
			<if test="consigneePhone != null  and consigneePhone != ''  ">#{consigneePhone},</if>
			<if test="shipperProvince != null  and shipperProvince != ''  ">#{shipperProvince},</if>
			<if test="shipperCity != null  and shipperCity != ''  ">#{shipperCity},</if>
			<if test="shipperArea != null  and shipperArea != ''  ">#{shipperArea},</if>
			<if test="shipperAddress != null  and shipperAddress != ''  ">#{shipperAddress},</if>
			<if test="consigneeProvince != null  and consigneeProvince != ''  ">#{consigneeProvince},</if>
			<if test="consigneeCity != null  and consigneeCity != ''  ">#{consigneeCity},</if>
			<if test="consigneeArea != null  and consigneeArea != ''  ">#{consigneeArea},</if>
			<if test="consigneeAddress != null  and consigneeAddress != ''  ">#{consigneeAddress},</if>
			<if test="shipperLng != null  and shipperLng != ''  ">#{shipperLng},</if>
			<if test="shipperLat != null  and shipperLat != ''  ">#{shipperLat},</if>
			<if test="consigneeLng != null  and consigneeLng != ''  ">#{consigneeLng},</if>
			<if test="consigneeLat != null  and consigneeLat != ''  ">#{consigneeLat},</if>
			<if test="cargo != null  and cargo != ''  ">#{cargo},</if>
			<if test="weight != null  and weight != ''  ">#{weight},</if>
			<if test="volume != null  and volume != ''  ">#{volume},</if>
			<if test="type != null  ">#{type},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="shipperProvinceCode != null  and shipperProvinceCode != ''  ">#{shipperProvinceCode},</if>
			<if test="shipperCityCode != null  and shipperCityCode != ''  ">#{shipperCityCode},</if>
			<if test="shipperAreaCode != null  and shipperAreaCode != ''  ">#{shipperAreaCode},</if>
			<if test="consigneeProvinceCode != null  and consigneeProvinceCode != ''  ">#{consigneeProvinceCode},</if>
			<if test="consigneeCityCode != null  and consigneeCityCode != ''  ">#{consigneeCityCode},</if>
			<if test="consigneeAreaCode != null  and consigneeAreaCode != ''  ">#{consigneeAreaCode},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
         </trim>
    </insert>
	 
    <update id="updatePShipmentsModel" parameterType="PShipmentsModel">
        update p_shipments_model
       <set>
            <if test="shipperId != null  and shipperId != ''  ">shipper_id = #{shipperId},</if>
            <if test="consigneeName != null  and consigneeName != ''  ">consignee_name = #{consigneeName},</if>
            <if test="consigneePhone != null  and consigneePhone != ''  ">consignee_phone = #{consigneePhone},</if>
            <if test="shipperProvince != null  and shipperProvince != ''  ">shipper_province = #{shipperProvince},</if>
            <if test="shipperCity != null  and shipperCity != ''  ">shipper_city = #{shipperCity},</if>
            <if test="shipperArea != null  and shipperArea != ''  ">shipper_area = #{shipperArea},</if>
            <if test="shipperAddress != null  and shipperAddress != ''  ">shipper_address = #{shipperAddress},</if>
            <if test="consigneeProvince != null  and consigneeProvince != ''  ">consignee_province = #{consigneeProvince},</if>
            <if test="consigneeCity != null  and consigneeCity != ''  ">consignee_city = #{consigneeCity},</if>
            <if test="consigneeArea != null  and consigneeArea != ''  ">consignee_area = #{consigneeArea},</if>
            <if test="consigneeAddress != null  and consigneeAddress != ''  ">consignee_address = #{consigneeAddress},</if>
            <if test="shipperLng != null  and shipperLng != ''  ">shipper_lng = #{shipperLng},</if>
            <if test="shipperLat != null  and shipperLat != ''  ">shipper_lat = #{shipperLat},</if>
            <if test="consigneeLng != null  and consigneeLng != ''  ">consignee_lng = #{consigneeLng},</if>
            <if test="consigneeLat != null  and consigneeLat != ''  ">consignee_lat = #{consigneeLat},</if>
            <if test="cargo != null  and cargo != ''  ">cargo = #{cargo},</if>
            <if test="weight != null  and weight != ''  ">weight = #{weight},</if>
            <if test="volume != null  and volume != ''  ">volume = #{volume},</if>
            <if test="type != null  ">type = #{type},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="shipperProvinceCode != null  and shipperProvinceCode != ''  ">shipper_province_code = #{shipperProvinceCode},</if>
            <if test="shipperCityCode != null  and shipperCityCode != ''  ">shipper_city_code = #{shipperCityCode},</if>
            <if test="shipperAreaCode != null  and shipperAreaCode != ''  ">shipper_area_code = #{shipperAreaCode},</if>
            <if test="consigneeProvinceCode != null  and consigneeProvinceCode != ''  ">consignee_province_code = #{consigneeProvinceCode},</if>
            <if test="consigneeCityCode != null  and consigneeCityCode != ''  ">consignee_city_code = #{consigneeCityCode},</if>
            <if test="consigneeAreaCode != null  and consigneeAreaCode != ''  ">consignee_area_code = #{consigneeAreaCode},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updatePShipmentsModelByIds"  parameterType="java.util.Map">
        UPDATE p_shipments_model
        <set>
           <if test="shipperId != null  and shipperId != ''  ">shipper_id = #{shipperId},</if>
           <if test="consigneeName != null  and consigneeName != ''  ">consignee_name = #{consigneeName},</if>
           <if test="consigneePhone != null  and consigneePhone != ''  ">consignee_phone = #{consigneePhone},</if>
           <if test="shipperProvince != null  and shipperProvince != ''  ">shipper_province = #{shipperProvince},</if>
           <if test="shipperCity != null  and shipperCity != ''  ">shipper_city = #{shipperCity},</if>
           <if test="shipperArea != null  and shipperArea != ''  ">shipper_area = #{shipperArea},</if>
           <if test="shipperAddress != null  and shipperAddress != ''  ">shipper_address = #{shipperAddress},</if>
           <if test="consigneeProvince != null  and consigneeProvince != ''  ">consignee_province = #{consigneeProvince},</if>
           <if test="consigneeCity != null  and consigneeCity != ''  ">consignee_city = #{consigneeCity},</if>
           <if test="consigneeArea != null  and consigneeArea != ''  ">consignee_area = #{consigneeArea},</if>
           <if test="consigneeAddress != null  and consigneeAddress != ''  ">consignee_address = #{consigneeAddress},</if>
           <if test="shipperLng != null  and shipperLng != ''  ">shipper_lng = #{shipperLng},</if>
           <if test="shipperLat != null  and shipperLat != ''  ">shipper_lat = #{shipperLat},</if>
           <if test="consigneeLng != null  and consigneeLng != ''  ">consignee_lng = #{consigneeLng},</if>
           <if test="consigneeLat != null  and consigneeLat != ''  ">consignee_lat = #{consigneeLat},</if>
           <if test="cargo != null  and cargo != ''  ">cargo = #{cargo},</if>
           <if test="weight != null  and weight != ''  ">weight = #{weight},</if>
           <if test="volume != null  and volume != ''  ">volume = #{volume},</if>
           <if test="type != null  ">type = #{type},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="updateTime != null  ">update_time = #{updateTime},</if>
           <if test="shipperProvinceCode != null  and shipperProvinceCode != ''  ">shipper_province_code = #{shipperProvinceCode},</if>
           <if test="shipperCityCode != null  and shipperCityCode != ''  ">shipper_city_code = #{shipperCityCode},</if>
           <if test="shipperAreaCode != null  and shipperAreaCode != ''  ">shipper_area_code = #{shipperAreaCode},</if>
           <if test="consigneeProvinceCode != null  and consigneeProvinceCode != ''  ">consignee_province_code = #{consigneeProvinceCode},</if>
           <if test="consigneeCityCode != null  and consigneeCityCode != ''  ">consignee_city_code = #{consigneeCityCode},</if>
           <if test="consigneeAreaCode != null  and consigneeAreaCode != ''  ">consignee_area_code = #{consigneeAreaCode},</if>
           <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deletePShipmentsModelByIds" parameterType="String">
        delete from p_shipments_model where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>