<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.platform.dao.PStoredRecordsDao">

	<resultMap type="com.yrsoft.platform.entity.PStoredRecords"
		id="PStoredRecordsResult">
		<result property="id" column="id" javaType="String" />
		<result property="waybillId" column="waybill_id" javaType="String" />
		<result property="oilScale" column="oil_scale" javaType="String" />
		<result property="gasScale" column="gas_scale" javaType="String" />
		<result property="etcScale" column="etc_scale" javaType="String" />
		<result property="createTime" column="create_time" javaType="Integer" />
		<result property="updateTime" column="update_time" javaType="Integer" />
		<result property="deleteFlag" column="delete_flag" javaType="Integer" />
	</resultMap>
	<resultMap type="com.yrsoft.platform.entity.PStoredRecordsVo"
		id="PStoredRecordsResultVo">
		<result property="id" column="id" javaType="String" />
		<result property="waybillId" column="waybill_id" javaType="String" />
		<result property="oilScale" column="oil_scale" javaType="String" />
		<result property="gasScale" column="gas_scale" javaType="String" />
		<result property="etcScale" column="etc_scale" javaType="String" />
		<result property="createTime" column="create_time" javaType="Integer" />
		<result property="updateTime" column="update_time" javaType="Integer" />
		<result property="deleteFlag" column="delete_flag" javaType="Integer" />
		<result property="flag" column="flag" javaType="Integer" />
		<result property="carId" column="car_id" javaType="String" />
		<result property="ownerId" column="owner_id" javaType="String" />
		<result property="waybillNumber" column="waybill_number"
			javaType="String" />
		<result property="actualFreight" column="actual_freight"
			javaType="Long" />

	</resultMap>

	<sql id="selectPStoredRecordsVo">
		select id, waybill_id, oil_scale, gas_scale, etc_scale, create_time,
		update_time, delete_flag from p_stored_records
	</sql>


	<select id="selectPStoredRecordsById" parameterType="String"
		resultMap="PStoredRecordsResult">
		<include refid="selectPStoredRecordsVo" />
		where id = #{id}
	</select>


	<select id="selectPStoredRecordsList" parameterType="PStoredRecords"
		resultMap="PStoredRecordsResult">
		<include refid="selectPStoredRecordsVo" />
		<where>
			<if test="id != null  and id != '' "> and id = #{id}</if>
			<if test="waybillId != null  and waybillId != '' "> and waybill_id = #{waybillId}</if>
			<if test="oilScale != null "> and oil_scale = #{oilScale}</if>
			<if test="gasScale != null "> and gas_scale = #{gasScale}</if>
			<if test="etcScale != null "> and etc_scale = #{etcScale}</if>
			<if test="createTime != null "> and create_time = #{createTime}</if>
			<if test="updateTime != null "> and update_time = #{updateTime}</if>
			<if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
		</where>
	</select>
	

	<insert id="insertPStoredRecords" parameterType="PStoredRecords">
		insert into p_stored_records
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="waybillId != null  and waybillId != ''  ">waybill_id,</if>
			<if test="oilScale != null  ">oil_scale,</if>
			<if test="gasScale != null  ">gas_scale,</if>
			<if test="etcScale != null  ">etc_scale,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="waybillId != null  and waybillId != ''  ">#{waybillId},</if>
			<if test="oilScale != null  ">#{oilScale},</if>
			<if test="gasScale != null  ">#{gasScale},</if>
			<if test="etcScale != null  ">#{etcScale},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
		</trim>
	</insert>

	<insert id="insertPStoredRecordsList" parameterType="PStoredRecords">
		insert into p_stored_records
		(
		id,
		waybill_id,
		oil_scale,
		gas_scale,
		etc_scale,
		create_time,
		update_time,
		delete_flag,
		)
		values
		<foreach collection="list" item="reddemCode" index="index"
			separator=",">
			(
			#{reddemCode.id},
			#{reddemCode.waybillId},
			#{reddemCode.oilScale},
			#{reddemCode.gasScale},
			#{reddemCode.etcScale},
			#{reddemCode.createTime},
			#{reddemCode.updateTime},
			#{reddemCode.deleteFlag}
			)
		</foreach>
	</insert>

	<update id="updatePStoredRecords" parameterType="PStoredRecords">
		update p_stored_records
		<set>
			<if test="waybillId != null  and waybillId != ''  ">waybill_id = #{waybillId},</if>
			<if test="oilScale != null  ">oil_scale = #{oilScale},</if>
			<if test="gasScale != null  ">gas_scale = #{gasScale},</if>
			<if test="etcScale != null  ">etc_scale = #{etcScale},</if>
			<if test="createTime != null  ">create_time = #{createTime},</if>
			<if test="updateTime != null  ">update_time = #{updateTime},</if>
			<if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
		</set>
		where id = #{id}
	</update>


	<update id="updatePStoredRecordsByIds" parameterType="java.util.Map">
		UPDATE p_stored_records
		<set>
			<if test="waybillId != null  and waybillId != ''  ">waybill_id = #{waybillId},</if>
			<if test="oilScale != null  ">oil_scale = #{oilScale},</if>
			<if test="gasScale != null  ">gas_scale = #{gasScale},</if>
			<if test="etcScale != null  ">etc_scale = #{etcScale},</if>
			<if test="createTime != null  ">create_time = #{createTime},</if>
			<if test="updateTime != null  ">update_time = #{updateTime},</if>
			<if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
		</set>
		WHERE id in
		<foreach item="id" collection="ids" open="(" separator=","
			close=")">
			#{id}
		</foreach>


	</update>


	<delete id="deletePStoredRecordsByIds" parameterType="String">
		delete from p_stored_records where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 生产资料分配记录列表 shihh -->
	<select id="getPSoredList" parameterType="String"
		resultMap="PStoredRecordsResultVo">
		select
		ps.id,ps.waybill_id,ps.oil_scale,ps.gas_scale,
		ps.etc_scale,ps.create_time,ps.update_time,ps.delete_flag,
		pw.waybill_number,pw.owner_id,pw.car_id,pw.actual_freight,pw.flag
		from p_waybill pw
		JOIN p_stored_records ps on pw.id=ps.waybill_id
		JOIN p_invoice pe on pe.id=pw.invoice_id
		<where> 
		pe.shipper_id=#{shipperId}
		</where>
	</select>
	<!-- 生产资料分配记录单条记录详情 shihh -->
	<select id="selectPStoredById" parameterType="String"
		resultMap="PStoredRecordsResultVo">	
		SELECT
			ps.id,
			ps.waybill_id,
			ps.oil_scale,
			ps.gas_scale,
			ps.etc_scale,
			ps.create_time,
			ps.update_time,
			ps.delete_flag,
			pw.waybill_number,
			pw.owner_id,
			pw.car_id,
			pw.actual_freight
		FROM
			p_waybill pw
		JOIN p_stored_records ps ON pw.id = ps.waybill_id
		WHERE
			ps.id = #{id}
	</select>

	
</mapper>