<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrsoft.platform.dao.PTransportDao">

    <resultMap type="com.yrsoft.platform.entity.PTransport" id="PTransportResult">
    <result property="id"  column="id" javaType="String"/>
    <result property="waybillId"  column="waybill_id" javaType="String"/>
    <result property="driverId"  column="driver_id" javaType="String"/>
    <result property="changeDriving"  column="change_driving" javaType="Integer"/>
    <result property="createTime"  column="create_time" javaType="Integer"/>
    <result property="startTime"  column="start_time" javaType="Integer"/>
    <result property="startAddress"  column="start_address" javaType="String"/>
    <result property="startLongitude"  column="start_longitude" javaType="String"/>
    <result property="startLatitude"  column="start_latitude" javaType="String"/>
    <result property="endTime"  column="end_time" javaType="Integer"/>
    <result property="endAddress"  column="end_address" javaType="String"/>
    <result property="endLongitude"  column="end_longitude" javaType="String"/>
    <result property="endLatitude"  column="end_latitude" javaType="String"/>
    <result property="isEffective"  column="is_effective" javaType="Integer"/>
    <result property="deleteFlag"  column="delete_flag" javaType="Integer"/>
    </resultMap>
	
	<sql id="selectPTransportVo">
        select id, waybill_id, driver_id, change_driving, create_time, start_time, start_address, start_longitude, start_latitude, end_time, end_address, end_longitude, end_latitude, is_effective, delete_flag from p_transport
    </sql>
	

    <select id="selectPTransportById" parameterType="String" resultMap="PTransportResult">
        <include refid="selectPTransportVo"/>
        where id = #{id}
    </select>

    <select id="selectPTransportList" parameterType="PTransport" resultMap="PTransportResult">
        <include refid="selectPTransportVo"/>
        <where>
                            <if test="id != null  and id != '' "> and id = #{id}</if>
                            <if test="waybillId != null  and waybillId != '' "> and waybill_id = #{waybillId}</if>
                            <if test="driverId != null  and driverId != '' "> and driver_id = #{driverId}</if>
                            <if test="changeDriving != null "> and change_driving = #{changeDriving}</if>
                            <if test="createTime != null "> and create_time = #{createTime}</if>
                            <if test="startTime != null "> and start_time = #{startTime}</if>
                            <if test="startAddress != null  and startAddress != '' "> and start_address = #{startAddress}</if>
                            <if test="startLongitude != null  and startLongitude != '' "> and start_longitude = #{startLongitude}</if>
                            <if test="startLatitude != null  and startLatitude != '' "> and start_latitude = #{startLatitude}</if>
                            <if test="endTime != null "> and end_time = #{endTime}</if>
                            <if test="endAddress != null  and endAddress != '' "> and end_address = #{endAddress}</if>
                            <if test="endLongitude != null  and endLongitude != '' "> and end_longitude = #{endLongitude}</if>
                            <if test="endLatitude != null  and endLatitude != '' "> and end_latitude = #{endLatitude}</if>
                            <if test="isEffective != null "> and is_effective = #{isEffective}</if>
                            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
                    </where>
    </select>
        
    <insert id="insertPTransport" parameterType="PTransport">
        insert into p_transport
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="waybillId != null  and waybillId != ''  ">waybill_id,</if>
			<if test="driverId != null  and driverId != ''  ">driver_id,</if>
			<if test="changeDriving != null  ">change_driving,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="startTime != null  ">start_time,</if>
			<if test="startAddress != null  and startAddress != ''  ">start_address,</if>
			<if test="startLongitude != null  and startLongitude != ''  ">start_longitude,</if>
			<if test="startLatitude != null  and startLatitude != ''  ">start_latitude,</if>
			<if test="endTime != null  ">end_time,</if>
			<if test="endAddress != null  and endAddress != ''  ">end_address,</if>
			<if test="endLongitude != null  and endLongitude != ''  ">end_longitude,</if>
			<if test="endLatitude != null  and endLatitude != ''  ">end_latitude,</if>
			<if test="isEffective != null  ">is_effective,</if>
			<if test="deleteFlag != null  ">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="waybillId != null  and waybillId != ''  ">#{waybillId},</if>
			<if test="driverId != null  and driverId != ''  ">#{driverId},</if>
			<if test="changeDriving != null  ">#{changeDriving},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="startTime != null  ">#{startTime},</if>
			<if test="startAddress != null  and startAddress != ''  ">#{startAddress},</if>
			<if test="startLongitude != null  and startLongitude != ''  ">#{startLongitude},</if>
			<if test="startLatitude != null  and startLatitude != ''  ">#{startLatitude},</if>
			<if test="endTime != null  ">#{endTime},</if>
			<if test="endAddress != null  and endAddress != ''  ">#{endAddress},</if>
			<if test="endLongitude != null  and endLongitude != ''  ">#{endLongitude},</if>
			<if test="endLatitude != null  and endLatitude != ''  ">#{endLatitude},</if>
			<if test="isEffective != null  ">#{isEffective},</if>
			<if test="deleteFlag != null  ">#{deleteFlag},</if>
         </trim>
    </insert>
	 
    <update id="updatePTransport" parameterType="PTransport">
        update p_transport
       <set>
            <if test="waybillId != null  and waybillId != ''  ">waybill_id = #{waybillId},</if>
            <if test="driverId != null  and driverId != ''  ">driver_id = #{driverId},</if>
            <if test="changeDriving != null  ">change_driving = #{changeDriving},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="startTime != null  ">start_time = #{startTime},</if>
            <if test="startAddress != null  and startAddress != ''  ">start_address = #{startAddress},</if>
            <if test="startLongitude != null  and startLongitude != ''  ">start_longitude = #{startLongitude},</if>
            <if test="startLatitude != null  and startLatitude != ''  ">start_latitude = #{startLatitude},</if>
            <if test="endTime != null  ">end_time = #{endTime},</if>
            <if test="endAddress != null  and endAddress != ''  ">end_address = #{endAddress},</if>
            <if test="endLongitude != null  and endLongitude != ''  ">end_longitude = #{endLongitude},</if>
            <if test="endLatitude != null  and endLatitude != ''  ">end_latitude = #{endLatitude},</if>
            <if test="isEffective != null  ">is_effective = #{isEffective},</if>
            <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
       </set>
        where id = #{id}
    </update>


    <update id="updatePTransportByIds"  parameterType="java.util.Map">
        UPDATE p_transport
        <set>
           <if test="waybillId != null  and waybillId != ''  ">waybill_id = #{waybillId},</if>
           <if test="driverId != null  and driverId != ''  ">driver_id = #{driverId},</if>
           <if test="changeDriving != null  ">change_driving = #{changeDriving},</if>
           <if test="createTime != null  ">create_time = #{createTime},</if>
           <if test="startTime != null  ">start_time = #{startTime},</if>
           <if test="startAddress != null  and startAddress != ''  ">start_address = #{startAddress},</if>
           <if test="startLongitude != null  and startLongitude != ''  ">start_longitude = #{startLongitude},</if>
           <if test="startLatitude != null  and startLatitude != ''  ">start_latitude = #{startLatitude},</if>
           <if test="endTime != null  ">end_time = #{endTime},</if>
           <if test="endAddress != null  and endAddress != ''  ">end_address = #{endAddress},</if>
           <if test="endLongitude != null  and endLongitude != ''  ">end_longitude = #{endLongitude},</if>
           <if test="endLatitude != null  and endLatitude != ''  ">end_latitude = #{endLatitude},</if>
           <if test="isEffective != null  ">is_effective = #{isEffective},</if>
           <if test="deleteFlag != null  ">delete_flag = #{deleteFlag},</if>
        </set>
        WHERE  id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>


    </update>

	
    <delete id="deletePTransportByIds" parameterType="String">
        delete from p_transport where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>